[2016-01-07 11:55] jimmidyson opened #1 "Switch to SRV lookups for service endpoints"
Currently connections will be made to the service IP rather than the pod IPs. Switching to SRV records will enable discovery of pod IPs & ports from DNS.

I'll submit a PR to see how this looks & what you think.

[2016-01-07 12:02] purplefox commented on #1
@noctarius I'd be interested to understand how the current implementation works as it returns the service's IP not the pod IPs.

For forming a cluster between different pods isn't it the pod IPs that need to be discovered?

[2016-01-07 13:15] purplefox opened #3 "Property names in the README are not correct"
They need to be prefixed with:

`hazelcast.kubernetes.` in order to work

[2016-01-07 13:52] #1 closed

[2016-01-07 13:53] noctarius commented on #3
Nope only if passed on command line (using -Dhazelcast.kubernetes...)

[2016-01-07 14:49] purplefox commented on #3
I don't know what I am doing wrong, but if I don't prefix the properties with that I get the following:

Caused by: java.lang.RuntimeException: For kubernetes discovery either 'service-dns' or 'service-name' and 'namespace' must be set

Here is the config:

https://gist.github.com/purplefox/21136af37ae7a34677c0

[2016-01-07 15:13] purplefox opened #6 "Not possible to only provide a service-dns"
According to the README it should be possible to provide only a `service-dns` property when DNS based lookups are required.

However if only this property is provided then it fails to load properties throwing an exception:

https://github.com/noctarius/hazelcast-kubernetes-discovery/blob/hazelcast-kubernetes-discovery-0.9.1/src/main/java/com/noctarius/hazelcast/kubernetes/HazelcastKubernetesDiscov

[2016-01-07 15:22] noctarius commented on #6
ouch -.- beginners mistake and had to give it 3 looks before I saw the difference between yours and mine *back to basics book* ;-)

[2016-01-07 15:25] #6 closed

[2016-01-07 15:27] noctarius commented on #3
Is this caused by issue #6?

[2016-01-07 15:43] purplefox commented on #3
I think so, when I fix 6, this issue seems to go away

[2016-01-07 15:45] noctarius commented on #3
perfect, thanks - sorry for the dns issues, haven't really used it yet (why not using the api client version)?

[2016-01-07 16:22] #3 closed

[2016-01-09 09:58] jimmidyson opened #7 "New release?"
Any chance of a release please?

[2016-01-09 10:01] jimmidyson commented on #3
On a secured kubernetes (eg openshift) to use the api client version you need to give the service account the pod runs under karma to query the api server. Extra set up steps & seems better to be able to do this without api server to me. SRV records are generally great for cluster discovery.

[2016-01-11 21:11] saturnism commented on #3
great point abt using dns record in this case!

[2016-02-25 11:28] purplefox commented on #7
Pretty please? ;)

[2016-02-25 11:42] noctarius commented on #7
Sorry guys, totally missed that. Just did it:
https://oss.sonatype.org/content/repositories/releases/com/noctarius/discovery/hazelcast-kubernetes-discovery/0.9.2/

Maven central sync is scheduled and will be executed soon.

[2016-03-21 15:00] w0mbat opened #8 "Port in DnsEndpointResolver is 0"
I just used this module and deployed two services on google cloud, added a headless service which returns service records for both services but the hazelcast connect fails because the DnsEndpointResolver tries to connect to port 0 - the service itself exposes port 5701.

Any thoughts?

[2016-04-05 12:41] cescoffier opened #9 "Connection failed to Kubernetes when using the service strategy"
When Kubernetes runs without the DNS support (as it's a plugin), the resolution fails.

The host is unknown. In this case the URL can be computed as follows: `KUBERNETES_SERVICE_HOST}:${KUBERNETES_SERVICE_PORT}`

See https://github.com/fabric8io/kubernetes-client/issues/35

[2016-04-08 15:17] w0mbat commented on #8
@noctarius @saturnism any ideas?

[2016-04-18 18:13] amoAHCP commented on #8
I can confirm this, same setup and same "port 0" instead of 5701 thing.

[2016-04-19 10:27] amoAHCP commented on #8
Hi @noctarius @saturnism, I think I found the bug in the DnsEndpointResolver class and created a workaround:
in line 68 you do: srv.getPort() ... but this always returns 0 so for the moment I add following:
private int getHazelcastPort(int port){
        if(port>0) return port;
        return NetworkConfig.DEFAULT_PORT;
    }

But that's not the final solution. If you have  <port auto-increment="t

[2016-04-19 11:38] w0mbat commented on #8
I just did a plain dns srv query with dig in gce and got the following:
[code]
What I can see from this is the fact that the srv records themselves contain a 0 port. So its a gce or kubernetes bug i guess?

[2016-04-19 20:51] saturnism commented on #8
Hiya, quick question, how was the service defined? Can you attach the yaml
file? Thanks!
On Tue, Apr 19, 2016 at 1:38 PM Daniel Sachse <notifications@github.com>
wrote:

[2016-04-20 06:26] amoAHCP commented on #8
Hi Ray, nice to see you ;-) (JavaLand Hackergarten..?). Here is my service definition...

apiVersion: v1
kind: Service
metadata:
  labels:
    name: frontend-verticle-dns
    visualize: "true"
  name: frontend-verticle-dns
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8181
      name: frontend-verticle-dns
    - port: 5701
      name: hazelcast
  selector:
    name: frontend

[2016-04-20 09:30] saturnism commented on #8
Yup! :)

I haven't had a chance to test out your config but I wonder if multiple
ports service is causing the issue.
On Wed, Apr 20, 2016 at 8:26 AM Andy Moncsek <notifications@github.com>
wrote:

[2016-04-20 09:46] w0mbat commented on #8
@saturnism My service looks like this:
[code]

[2016-04-20 10:29] amoAHCP commented on #8
Hi, expose multiple ports should work since v1beta3. The rest of my service looks like w0mbat's example (see: https://github.com/amoAHCP/kube_vertx_demo/tree/dns-resolving).

Andy

[2016-05-12 10:06] jimmidyson commented on #7
This is released & synced.

[2016-05-12 10:06] #7 closed

[2016-07-09 07:12] noctarius commented on #9
You can switch to the service discovery based on the kubernetes REST API, which is the preferred way anyways :-)

Just configure servicename and namespace and you'll get non-dns based lookups.

PS: maybe I misunderstood what you're trying to say, feel free to reopen to clarify if the answer doesn't help.

[2016-07-09 07:12] #9 closed

[2016-07-09 07:14] noctarius commented on #8
But port discovery won't work with DNS lookups as DNS doesn't know about ports. You should use the service discovery (REST API) lookup instead. Please only select servicename and namespace to activate that type of lookup.

[2016-07-09 08:14] w0mbat commented on #8
@noctarius Of course DNS knows about ports - thats what SRV records were made for!

@amoAHCP In between I found the solution - The query itself for `vertx-service.hazelcast-demo.svc.cluster.local ` was wrong.

I had to use the following K8s Service definition (port name was the important part):
[code]

After that, I was able to use the following DNS query:
`dig srv _hazelcast._tcp.vertx-service.ha

[2016-07-09 08:14] #8 closed

[2016-07-09 08:16] noctarius commented on #8
Oh I see the srv records know the ports. Sorry wasn't aware of that, great to know :) 👍

[2016-07-09 08:19] w0mbat commented on #8
@noctarius Yes, they are really great - use it a lot by now with varying technologies.
BTW: Thanks again to @thockin for pointing me to the solution!

[2016-10-12 08:35] noctarius opened #15 "Please sign the CLA (Contributors License Agreement)"
Hey guys,

We would like to go forward and officially support the kubernetes plugin. That includes moving the plugin repository to the Hazelcast GitHub account and handing over responsibility to our integrations team.

To make this step it would be great if you could help out and sign our Contributors License Agreement to give us full permissions over the contributions you did. I really appreciate

[2016-10-12 10:50] ReToCode commented on #15
Glad to hear that :) Sent the form back to you.

[2016-10-12 11:11] jimmidyson commented on #15
A paper CLA? Sheesh ;) Will sign it later.

[2016-10-12 13:59] noctarius commented on #15
Thanks guys!

[2016-10-18 09:38] noctarius commented on #15
@yurybubnov can you please sign the CLA?

You're contribution (even though not connected to your account anymore):
https://github.com/noctarius/hazelcast-kubernetes-discovery/pull/13

with commits:
https://github.com/noctarius/hazelcast-kubernetes-discovery/commit/34455adb98e52708a38eff41037a3dc9b9aa40aa
https://github.com/noctarius/hazelcast-kubernetes-discovery/commit/c1792cdf938bf6797f7a2874f43

[2016-11-11 13:18] fiksn opened #16 "Automatic discovery of all nodes in namespace causes trouble with 2 or more separate HZ clusters"
Hi,

with 0.9.3 version I saw that resolve() was made "smarter" (https://github.com/noctarius/hazelcast-kubernetes-discovery/blob/master/src/main/java/com/noctarius/hazelcast/kubernetes/ServiceEndpointResolver.java#L68). But in my case that is quite a problem.

We have two separate hazelcast clusters on kubernetes (in same namespace). Let's say I start one of them. Two pods come up and I'd expect

[2016-11-11 13:37] amoAHCP commented on #16
Hi, you can separate them by using service labels like this: https://github.com/amoAHCP/kube_vertx_demo/blob/discovery-bridge-kubernetes/kube/frontend-service.yaml. How is your setup for the clusters? Does each cluster have an own Service?

[2016-11-11 15:15] fiksn commented on #16
Yes, I have a different Service for each cluster. But the problem is that "kubectl get endpoints" returns nothing due to "readiness check". Only if hazelcast was successfully initialized a /healthz endpoint of my webapp would be set-up and return HTTP 200. And then the Pod ip would be available as Endpoint. So this is sort of a chicken-and-egg issue.

I am not using service labels (yet) but also i

[2016-11-11 15:21] fiksn commented on #16
Either that or hazelcast itself should be aware that the "discovered" nodes have a different hazelcast/group/name setting and thus don't "count" and the node should still (eventually) become master.

In hazelcast-kubernetes-discovery I see a simple solution with a new settings (possibly defaulting to  true) whether you want to fallback to ANY node in namespace.

[2016-11-11 15:34] noctarius commented on #16
Maybe the NodeFilter (http://docs.hazelcast.org/docs/3.7/javadoc/com/hazelcast/spi/discovery/NodeFilter.html) is what you're looking for. With a NodeFilter being configured you can add additional selection logic to the discovery.

[2016-11-11 17:59] fiksn commented on #16
Thanks for the NodeFilter hint. So basically I could configure DiscoveryNode properties through the XML configuration and pass my implementation of NodeFilter to match by a certain key/value pair and thus "disqualifying" the members of the other cluster?

I wonder why the kubernetes discovery plugin then even goes through the trouble of using serviceName / serviceLabels, it could just do getNodesB

[2016-11-12 10:11] noctarius commented on #16
Because NodeFilter is part of the SPI and works for all discovery plugins while labels are part of kubernetes and most of the time you want to use the native possibilities.

[2016-11-14 16:07] sothawo opened #18 "HZ not joining cluster in kubernetes"
Hello,

I have built a k8s pod that contains HZ 3.7.2 with hazelcast-kubernetes-discovery-0.9.3.jar and dnsjava-2.1.7.jar on the classpath and have configured hazelcast with

[code]

When starting up two pods in my deployment, I see in both logs:

    2016-11-14T15:44:52.629621000Z # RUN_JAVA=
    2016-11-14T15:44:52.629762000Z # JAVA_OPTS=-Dhazelcast.rest.enabled=true
    2016-11-14T15:44:52.6299

[2016-11-14 16:10] noctarius commented on #18
Can you try a dns name like `my-svc.my-namespace.svc.cluster.local` as described here: https://github.com/kubernetes/kubernetes/tree/v1.0.6/cluster/addons/dns#a-records

[2016-11-14 16:19] sothawo commented on #18
I changed it to:

    2016-11-14T16:12:40.136386000Z INFO: [10.32.0.6]:5701 [hlx] [3.7.2] Kubernetes Discovery properties: { service-dns: hazelcast.default.svc.cluster.local, service-name: null, service-label: null, service-label-value: true, namespace: default}

but still the two nodes do not join: I thought about that before, but as the nameserver resolves the addresses without the full qualifie

[2016-11-15 07:40] sothawo commented on #18
I found the problem: I was missing the following hazelcast configuration property:

     <properties>
        <property name="hazelcast.discovery.enabled">true</property>
     </properties>

might be worth to add this to the docs. Thanks for your help and thanks for the plugin!

[2016-11-15 07:40] #18 closed

[2016-11-15 23:44] sgsits opened #19 "Incorrect PORT from SRV record"
I am running a kubernetes cluster with skyDNS service on

The hazelcast container logs indicate that it is trying to connect on port :0

`Nov 15, 2016 10:35:11 PM com.hazelcast.nio.tcp.InitConnectionTask
INFO: [11.11.104.3]:5701 [dev] [3.6.1] Connecting to /11.11.109.2:0, timeout: 0, bind-any: true
Nov 15, 2016 10:35:11 PM com.hazelcast.nio.tcp.InitConnectionTask
INFO: [11.11.104.3]:5701 [dev] [3.

[2016-11-24 06:00] RobinsChens opened #20 "NoSuchMethodError: io.fabric8.kubernetes.client.ConfigBuilder.build()Lio/fabric8/kubernetes/client/Config;"
Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [io.fabric8.kubernetes.client.Config]: Factory method 'kubernetesClientConfig' threw exception; nested exception is java.lang.NoSuchMethodError: io.fabric8.kubernetes.client.ConfigBuilder.build()Lio/fabric8/kubernetes/client/Config;
	at org.springframework.beans.factory.support.SimpleInstantiationStrategy.instan

[2016-11-24 07:02] noctarius commented on #20
Can you please add some more information? What version of the plugin, what Hazelcast version, what Spring version and let me guess you use Spring Boot?

[2016-12-19 22:30] rbygrave opened #24 "Q: Given scenario of changing replicas from 0 to 2+ ... members join/discover each other later than desired"
Hi,
Thanks for the plugin, it is working really well.

One scenario I have noticed is that when there are no running pods with Hazelcast and we try to start with replicas of 2 or more (jump from 0 to 2+ replicas).  In this scenario the initial `discovery` does not find any currently running pods to join and so the 2 replicas start without joining each other.

At some point later they join/discover

[2016-12-20 12:12] philnate commented on #24
I didn't notice any issue with the replica. Our cluster is configured right from the start to have 3 replicas and all nodes find each other. But the issue I stumple upon is that if I define a readinessProbe the nodes won't find each other, or if used with min cluster size hazelcast doesn't even startup correctly.

I didn't yet see that they eventually join, maybe the time waited was just to short

[2016-12-21 04:05] rbygrave commented on #24
We have readinessProbe and livenessProbe configured (on all our services).  Those don't seem to be a problem for our Hazelcast setup.  Note that our pods are very slow to start (~60 seconds) so when we have no running instances and start 3 pods concurrently all of them are able to ask kube (at initial discovery time) and not know about the 'other 2 pods that are currently starting' and to me that

[2016-12-21 04:16] noctarius commented on #24
Hey sorry for the late response. There are a few practical properties to optimize discovery and startup in cloud environments.

`hazelcast.initial.min.cluster.size`: If you have a minimum number of nodes in the cluster, let the cluster itself wait on startup until the minimum number of nodes is reached.
`hazelcast.merge.first.run.delay.seconds`: The seconds before the initial try to "merge" indepe

[2016-12-21 08:03] philnate commented on #24
Just realizing that likely my readiness probe and the consideration what is healthy is faulty.
I have Spring Boot HealthIndicator for Hazelcast returning simply up/down depending on the return value of `HazelcastInstance.getLifecycleService().isRunning()`. @rbygrave how do you determine if the node is healthy?

[2017-01-16 13:02] noctarius commented on #15
Ok reverted the only missing signed CLA pull request

[2017-01-16 13:02] #15 closed

[2017-01-16 13:03] noctarius commented on #15
PS: Thanks to the other guys for signing it :)

[2017-01-16 13:30] noctarius commented on #19
Which version of the plugin did you use, is this still valid? This shouldn't happen by this code fragment: https://github.com/noctarius/hazelcast-kubernetes-discovery/blob/master/src/main/java/com/noctarius/hazelcast/kubernetes/DnsEndpointResolver.java#L127-L130

[2017-01-16 13:30] noctarius commented on #20
*ping*

[2017-01-16 13:32] noctarius commented on #24
You could use `HazelcastInstance::getPartitionService::isClusterSafe`, that is what I do in the new code for the healthcheck (+ some more additional information).

[2017-01-16 19:52] rbygrave commented on #24
@philnate Our readiness probe doesn't check Hazelcast yet.

`HazelcastInstance::getPartitionService::isClusterSafe` ... I'm going to have a look at this - thanks @noctarius

Side Issue: We have twice had (not reproducible at this stage) nodes in the cluster start throwing `CallerNotMemberException: Not Member` after deployment - https://groups.google.com/forum/#!topic/hazelcast/_M_ezca4M0E  ... `g

[2017-01-17 16:46] sebasmoyano opened #25 "Is it neccesary to configure discovery on client side when using a Kubernetes service?"
If clients connect to server through a Kubernetes service, Is it neccesary to configure discovery on client side?

[2017-01-17 16:50] noctarius commented on #25
You cannot connect through a kubernetes service, as a Hazelcast client needs to connect to all cluster members not just a single one. There's a dummy client configuration which is ok with "one member" but not sure it'll work over a kubernetes service, never tried it.

That said, it also means clients cannot (are not supported) to run outside the kubernetes environment.

[2017-01-17 16:57] sebasmoyano commented on #25
Perfect. Thank you very much for the prompt reply.

[2017-01-17 16:58] noctarius commented on #25
You're welcome, gonna close the issue :)

[2017-01-17 16:58] #25 closed

[2017-01-23 15:15] sebasmoyano opened #26 "Performance degradation seen using plugin"
I see a performance degradation using plugin comparing to use a standalone mode of Hazelcast. Degradation is about 2x-3x slower.

My server side config:
[code]

My client side config:
[code]

Some parameters:

- Service name called "hazelcast" is a Kubernetes service.
- Using Hazelcast 3.6.
- Using Kubernetes 1.5.1.

Am I missing something? What could be the issue?

Thanks in advance.

[2017-01-23 19:50] sebasmoyano commented on #26
Settings discovery strategy as:
[code]

And also setting a Kubernetes label.

Seems to be working fine now.

Closing the issue.

[2017-01-23 19:50] #26 closed

[2017-01-25 16:01] sebasmoyano opened #28 "Implement retry pattern for REST API calls"
Sometimes we get the following exception under an heavy load context:
[code]

[2017-01-26 11:55] noctarius commented on #28
I would expect that to be a kubernetes issue since it says it cannot connect to the REST API TCP socket. It would probably solve the issue to add an automatic retry (for example up to 3 times).

[2017-01-26 12:35] sebasmoyano commented on #28
Yep, a retry would be good.

[2017-01-26 14:27] sebasmoyano opened #29 "NPE received during Hazelcast start up"
During initialization of Hazelcast server we got the following exception:

`java.lang.NullPointerException at com.noctarius.hazelcast.kubernetes.ServiceEndpointResolver.getDiscoveryNodes(ServiceEndpointResolver.java:95
 at com.noctarius.hazelcast.kubernetes.ServiceEndpointResolver.resolve(ServiceEndpointResolver.java:75
 at com.noctarius.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategy.di

[2017-01-26 14:33] sebasmoyano commented on #29
I'm using Kubernetes 1.5.2.

[2017-02-08 12:37] barnyrelph opened #31 ""Wrong bind request from..." message on Hazelcast startup in Google's Kubernetes"
First, thanks so much for writing and maintaining this project, it's exactly what I need.

So I've written a simple Java app that uses a Hazelcast Lock to ensure that a task only runs on one instance (the others bale when the lock is held). The app sits in a permanent loop attempting to run the task every 2 seconds and the task itself takes 5 seconds, so I can see plenty of lock contention.

This

[2017-02-08 12:54] harels commented on #31
Try to configure using the kubernetes service API, worked for me:
[code]

[2017-02-08 13:01] noctarius commented on #31
Yeah it seems like GCE has different result when discovery is used against the DNS server instead of the kubernetes REST API.

[2017-02-08 13:03] barnyrelph commented on #31
Nice one, thanks both! I'll give that a go now. I did try previously and got an SSL error, but I'll re-enable and  see what I get this time.

[2017-02-08 13:03] amoAHCP commented on #31
@barnyrelph Did you turn on DNS for Kubernetes in GCloud? As far as I remember I had to do so.

[2017-02-08 13:13] barnyrelph commented on #31
@amoAHCP Thanks for the suggestion. It looks like that's enabled by default in google's K8s currently, I can see kube-dns pods running on the cluster and I'm able to `nslookup hazeltest-service-simple` from within one of the pods.

[2017-02-08 13:27] amoAHCP commented on #31
Try : <discovery-strategies>
                <discovery-strategy enabled="true"
                                    class="com.noctarius.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategy">
                    <properties>

                        <property name="service-dns">cluster.local</property>
                    </properties>
                </discovery-strategy>
            </disco

[2017-02-08 13:30] barnyrelph commented on #31
I've just tried to switch over to using the REST API properties. If I run it locally I get an exception because the token can't be found, which is fine. When I run the image in Google's K8s, I get the following exception:

[code]

Looking at that stack trace, it's coming from the fabric8 dependency (currently version 1.3.66). Looking at their issues, this got reported and apparently fixed in 1.3.1

[2017-02-08 13:32] barnyrelph commented on #31
@amoAHCP is cluster.local a bind setting for hazelcast? sorry, I'm very new to Hazelcast and reasonably new to Kubernetes

[2017-02-08 13:35] amoAHCP commented on #31
No, it has nothing to do with Hazelcast. cluster.local is a DNS entry (sorry I’m not a network specialist) returning all values registered currently. The Implementation of the Hazelcast plugin iterates over all entries returned by the lookup and tries to connect.

Von: Barnaby relph <notifications@github.com>
Antworten an: hazelcast/hazelcast-kubernetes <reply@reply.github.com>
Datum: Mittwoch, 8.

[2017-02-08 16:13] barnyrelph commented on #31
So I cloned this repo and changed the dependency on io.fabric8:kubernetes-client from 1.3.66 to 1.3.104 and re-built the project. I then updated my little project to use the locally built version of hazelcast-kubernetes.

Reviewing the logs from the pods up on Google's K8s gets me the following:

[code]

That tells me it's working!!! The above configuration is with the REST API lookup, which previ

[2017-02-10 08:51] emrahkocaman commented on #31
Hi @barnyrelph , thanks for the update, this is a nice finding. Let us check the fabric8's never versions.
About the repo ownership, yes hazelcast-kubernetes is becoming an official Hazelcast plugin.

[2017-02-13 15:13] barnyrelph commented on #31
@emrahkocaman Thanks for getting back to me, that'd be great to get a version bump at some point. I'll keep an eye on the project here and at Hazelcast.

Thanks everyone who pitched in on this issue!

[2017-02-24 11:35] st0ne-dot-at commented on #16
may fixed by #33 .
@fiksn : may you can verify that?

[2017-03-03 10:33] fschuh opened #35 "Typo in sample code: incorrect class name"
I just want to report a typo on the main Github page of this plugin that caused me some headaches getting this plugin working.

In the DNS Lookup section of README.adoc, the discovery-strategy class name is incorrectly set to _com.hazelcast.HazelcastKubernetesDiscoveryStrategy_, where it should be set to _com.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategy_ instead.

Hazelcast doesn't th

[2017-04-12 13:15] lazerion commented on #35
@fschuh Thanks, document is updated.

[2017-04-12 13:15] #35 closed

[2017-06-22 16:49] robfrank opened #39 "Could hazlecast-kuberntes work with 3.6.5?"
Hi, sorry for the question posted here.
I'm working to deploy OrientDB 2.2.x on Google Containers.
ODB uses HZ 3.6.5, so I recompiled this project for it without any error in the build.
At runtime the com.hazelcast.HazelcastKubernetesDiscoveryStrategy isn't loaded.
Maybe I need to modify my configuration file or to modify the code to let it work with HZ 3.6.5

thank you in advance for the support

[2017-06-29 11:51] lazerion commented on #39
@robfrank Could you please share `hazelcast.xml` or your configuration file?

You can also check below definition in the configuration file. It should contain class path as defined below.
[code]

[2017-06-29 12:01] robfrank commented on #39
Hi, I switched from dns to api and it worked, it is able to find other pods
[code]

[2017-06-29 12:01] #39 closed

[2017-07-18 06:34] artak116 commented on #20
Hi,

We have a same mentioned issue.

Our versions are:
Hazelcast - 3.8.3
Hazelcast-Kubernetes - 1.0.0
Spring Boot - 1.5.2
kubernetes - 1.5.1

Issue appears when hazelcast client tries to connect hazelcast  servers.

[2017-07-18 16:09] lazerion commented on #20
Issue resolved on @artak116 side.
@RobinsChens do you need support?

[2017-07-20 11:41] lazerion commented on #20
Closing due to inactivity, please feel free to open.

[2017-07-20 11:41] #20 closed

[2017-07-20 11:43] lazerion commented on #19
Closing due to inactivity, please feel to reopen.

[2017-07-20 11:43] #19 closed

[2017-08-18 08:19] opoto opened #40 "Hazelcast port not configurable"
When using the DnsEndpointResolver, the Hazelcast port cannot be configured: the DnsEndpointResolver.getHazelcastPort() method always returns the static DEFAULT_PORT value. Could this port value be configurable, just as it is when using the ServiceEndpointResolver?

[2017-08-18 08:41] noctarius commented on #40
The REST API offers the port information coming from the service definition, whereas the data from kubernetes DNS do not include this information. The only way I'd see it happening would make a property to pass in which can override the default in case of DNS.

[2017-08-18 12:18] opoto commented on #40
Yes, it would be great to add eg KubernetesProperties.SERVICE_PORT, and use it as default in DnsEndpointResolver.getHazelcastPort().

[2017-08-29 21:10] Sutty100 opened #41 "How to connect a client to a cluster"
I have setup my cluster using the service-name option which works fine and multiple hazelcast nodes discover each other. However I can't figure out how to get my clients (spring boot java apps) to connect to all members in the cluster other than by specifying ip address which obviously does not fit with the K8 model. Can somebody advice/add to the docs how to connect a client that is running in th

[2017-09-06 14:59] philicious opened #42 "Token retrieval from file not working"
when trying to use the REST API method, it fails to read the token from file, however also doesnt throw an exception that reading fails.

all you see is a null for the token
[code]
and later
[code]

if you specify the token via property `api-token` , its all working fine

PS: DNS method didnt work at all but no errors

[2017-09-07 10:11] mrahbar commented on #42
I observed the same logs. The scenario is that getAccountToken() returns null, leading to that log message but the fabric8 kubernetes client reads the token again from the well knon path /var/run/secrets/kubernetes.io/serviceaccount/token

You can check if the NPE maybe is actually from this line
https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/S

[2017-09-07 10:53] mrahbar opened #43 "NPE when no ready pods reported in Endpoints"
#### Note
Potentially duplicate of #29

## Scenario
When an HZ instance boots up and the ServiceEndpointResolver kicks in with a provided serviceName the retrieved Endpoints object via fabric8 Kubernetes-Client is iterated over endpoints.getSubsets() and endpointSubset.getAddresses(). But the latter is null because there are no ready endpoints. Raw json response:

[code]

The same request but with

[2017-09-07 16:19] xqianwang opened #45 "User "system:serviceaccount:poc:default" cannot get endpoints in project"
User "system:serviceaccount:poc:default" cannot get endpoints in project ****,   do we need to create a new sa for deploying application?

[2017-09-07 20:11] xqianwang commented on #16
@st0ne-dot-at  that doesn't work

[2017-09-08 01:34] xqianwang commented on #40
I have a question, what are endpoint additional properties (endpointAddress.getAdditionalProperties)

[2017-09-09 18:44] saturnism commented on #45
what is the version of the k8s cluster you are running on?

[2017-09-12 17:09] xqianwang commented on #45
@saturnism thanks for reply. This issue was fixed by setting serviceaccount for deploying apps.

[2017-10-06 07:39] MarWestermann opened #47 "Update kubernetes-client version"
HI,
when using vertx application on openshift (vertx uses hazelcast as cluster manager) I get a conflict with the kubernetes-client version as this hazelcast-kubernetes project still uses old version 1.3.66 while the vertx-config-kubernetes-configmap uses version 1.4.35. Having both installed the configmap module doesnt work.

[2017-10-11 19:54] mesutcelik commented on #45
good to see issue is fixed!

[2017-10-11 19:54] #45 closed

[2017-10-20 06:40] avalcepina commented on #42
I'm having the same issue. Did it turn out to be the getAddresses method or was it really the getSubsets? Also did you ever manage to solve it somehow?

[2017-10-20 17:38] philicious commented on #42
I never solved the problem with reading the api-token file as its working fine with the api-token property and that was sufficient at that point. thx @mrahbar !

[2017-11-06 17:22] #47 closed

[2017-11-06 17:29] googlielmo commented on #31
Fixed by #49
Can you please check @barnyrelph if you have a chance?

[2017-11-06 17:29] #31 closed

[2017-11-08 14:50] googlielmo commented on #16
Hi @fiksn I'm closing this for now, as with #30 you can separate your clusters by using service labels, regardless of readiness checks.

[2017-11-08 14:50] #16 closed

[2017-11-08 14:56] googlielmo commented on #24
The original question was answered, it seems. Closing this.

[2017-11-08 14:56] #24 closed

[2017-11-08 16:33] googlielmo commented on #42
Cannot reproduce, closing this.

[2017-11-08 16:33] #42 closed

[2017-11-09 14:32] philicious commented on #42
@googlielmo I'm not sure simply closing this is the right approach. there are at least two people having this problem

[2017-11-09 15:34] #43 closed

[2017-11-09 16:13] googlielmo commented on #42
@philicious @avalcepina : do you have a chance to check again with the latest master?
The NPE mentioned by @mrahbar was just fixed with #52, and #51 upgraded the fabric8 client version.
Happy to reopen this if the issue is still there. And if it is, to fix it!

[2017-11-09 21:40] philicious commented on #42
@googlielmo I'm not sure I can do as I'm only 16 more days at that project and there are other things they need me to do :/

[2017-11-10 09:18] googlielmo commented on #42
No problem at all @philicious, if you could provide the following info I would try again to reproduce it myself:
- hazelcast-kubernetes plugin version
- hazelcast-kubernetes plugin configuration properties
- hazelcast version
- kubernetes version

Cheers, Guglielmo

[2017-11-10 09:28] avalcepina commented on #42
Maybe I can help. I managed to find out what the problem was in my case and solve it.
The issue was that the when discovering the hazelcast service in kubernetes we were trying to match by name and label. Since the service wasn't ready yet, though, both these attempt were returning an empty list. When that happened a third attempt was made using only the namespace. Some of the services in the name

[2017-11-10 09:45] googlielmo commented on #29
Closing this as the same as #43
@sebasmoyano would you please confirm this is solved for you with the latest master?

[2017-11-10 09:45] #29 closed

[2017-11-10 10:02] googlielmo commented on #42
Hi @avalcepina, thanks for the feedback!

The issue you describe looks indeed the same as #43 , which was solved by #52.
Would you please verify it's the same null subsets that you came upon?

Btw, the logic of lookup has been smoothed out with #30, so now it doesn't fall back on the namespace lookup if the user specifies a label.

[2017-11-10 10:05] avalcepina commented on #42
Hi,
#52 does not solve the issue actually. I was getting the nullpointer on  endpoints.getSubsets(), so before getting to getAddresses.

[2017-11-10 11:26] sebasmoyano commented on #29
Yes, it seems to fix the issue. Thanks.

[2017-11-10 11:33] philicious commented on #42
@googlielmo

version: 'com.hazelcast:hazelcast-kubernetes:1.0.0',

config
[code]
k8s version is 1.7.x

[2017-11-10 12:53] googlielmo commented on #42
Interesting @avalcepina, though it looks like it's unrelated to the original issue of token retrieval.
I will open a new issue for getSubsets() returning null, which we currently don't check!
Thanks.

[2017-11-10 12:54] googlielmo commented on #42
Thanks @philicious for the info, I will try to reproduce the original issue.

[2017-11-10 13:13] googlielmo opened #53 "endpoints.getSubsets() should be checked for null"
`endpoints.getSubsets()` in `getSimpleDiscoveryNodes` may return null in some circumstances.
As we don't check for null, this would result in an NPE being thrown.
See https://github.com/hazelcast/hazelcast-kubernetes/issues/42#issuecomment-343431212

[2017-11-10 14:31] googlielmo commented on #29
Great! Thanks for checking @sebasmoyano

[2017-11-15 15:40] #53 closed

[2017-11-23 07:39] akvone opened #56 "How to make non-ready pods discoverable by the plugin?"
If two pods are initialized in parallel they don't see each other (because the Readiness Probe returns false) and form two separate clusters. Is there any way to prevent this behavior?

[2017-11-23 15:00] googlielmo commented on #56
Hello @akvone thanks for reporting this issue, could you please indicate the version of the plugin that you're using? Is it the current master or 1.0.0?

This issue looks very similar to #33.

There's a discussion you might want to check on #16 and #33 also touching the issue of readiness checks. The first one was fixed by #30.
We believe that #30 also fixes #33, as we could not reproduce it; but

[2017-11-23 15:49] googlielmo commented on #56
A simple workaround is to disable the readiness check in your pod definitions. The default one will suffice.

See for example https://github.com/hazelcast/hazelcast-docker/blob/master/hazelcast-kubernetes/hazelcast-service.yaml

[2017-11-24 11:06] akvone commented on #56
We use 0.9.3 right now, but the same issue exists in 1.0.0 as well.
Unfortunately, we can't disable the readiness check as in that case load balancer will send requests on non-initialized pods.

As I got it, 1.0.1-SNAPSHOT contains the fixing commit. Could you please give an approximate date of 1.0.1 release?

[2017-11-24 13:17] googlielmo commented on #56
We don't have an exact release date but it should be pretty soon.

That said, I would advise testing with the current snapshot so that if it does not work we could go through it and fix it before the release.
If it works, you could even continue using the snapshot until the release, as it is pretty stable.

I have some questions on the issue you are experiencing.
When you say that the pods "form t

[2017-11-28 13:06] akvone commented on #56
I've made some tests on two versions (0.9.3, 1.0.0) and got identical results. Let me show you:

There are logs I see on each pod:

|   Time   |               Pod 1               |               Pod 2               |
|:--------:|:---------------------------------:|:---------------------------------:|
| 13:16:32 |  Spring Boot start initialization |                                   |
| 13:16:52 |

[2017-11-29 10:06] googlielmo commented on #56
Okay, so the nodes eventually discover each other but that is not what you want.
Would #37 fix this for you, maybe? See the discussion there, I think it's a very similar use case.

Let me know how it went with 1.0.1-SNAPSHOT!

[2017-12-01 10:33] cesartl commented on #41
I'm new to this but I'm hoping to try something like that:
[code]

[2017-12-01 11:03] cesartl opened #58 "ClassNotFoundException: io.fabric8.kubernetes.client.EditableConfig"
Hi trying to deploy a cluster of Hazelcast in k8s using this library.

My understanding is that I need to build a new Docker image for Hazelcast that contains this jar file and a new config and deploy it in k8s.

So I did the following:

change the `Dockerfile`

[code]

add the jar to the classpath in `server.sh`

[code]

and use the config `hazelcast.xml`

[code]

When the pod start I get the log

[2017-12-01 12:58] googlielmo commented on #58
Hello @cesartl and thanks for asking!

I assume you are extending the Hazelcast Docker image.
For Kubernetes we recently created a dedicated Docker image, which includes this plugin.
Please take a look at https://github.com/hazelcast/hazelcast-docker/tree/master/hazelcast-kubernetes

Now coming to the particular issue that you are experiencing, I think it's because the `kubernetes-client` v. 3.x d

[2017-12-01 13:25] cesartl commented on #58
hi @googlielmo, thanks a lot that's what I was looking for. I will definitely be using that image instead of baking my own.

[2017-12-01 13:25] #58 closed

[2017-12-01 13:39] googlielmo commented on #58
You're welcome @cesartl I will update the README for both repos to include this missing piece of information, so thank you for pointing this out!

[2017-12-01 17:32] googlielmo commented on #56
Hi @akvone, there is a new PR (#57) that I think may solve this issue, would you please have a look?
If it does, we could close this issue when we merge that. Thank you!

[2017-12-04 15:59] akvone commented on #56
Official 1.0.1-SNAPSHOT doesn't work.
But version with commit from PR (#57) works well. That's that we want.

Now the question about 1.0.1 release is really topical. I'll be glad to get any news about this.

Thank you!

[2017-12-04 16:54] googlielmo commented on #56
That's great news @akvone, thank you for confirming this!
Keep an eye on this repo for the upcoming release.

[2017-12-08 13:50] akvone commented on #56
I'm sorry to bother you again. But I'd like to ask you for an advice.

We are currently at the crossroad between waiting for the official 1.0.1 release and working around the issue by ourselves.
Is there any chance for 1.0.1 to be released in a month or less? Or is it clear already that the release date is much later in the roadmap?

Many thanks!

[2017-12-08 14:59] senwangrockets opened #59 "Instruction doesn't applied for Hazelcast 3.9.1"
For the Hazelcast 3.9.1

I've tried with with configuration

[code]
But I then encounter an error shown as below:

[code]

[2017-12-08 15:08] senwangrockets commented on #59
Instead, if I use java code

`JoinConfig joinConfig = cfg.getNetworkConfig().getJoin();
    joinConfig.getMulticastConfig().setEnabled(false);
    DiscoveryConfig discoveryConfig = joinConfig.getDiscoveryConfig();

    DiscoveryStrategyFactory factory = new HazelcastKubernetesDiscoveryStrategyFactory();
    DiscoveryStrategyConfig strategyConfig = new DiscoveryStrategyConfig(factory);

    discove

[2017-12-08 15:36] mesutcelik commented on #59
Hi,

Can you please add this parameter as well?
[code]

https://github.com/hazelcast/hazelcast-docker/blob/master/hazelcast-enterprise-kubernetes/hazelcast.xml#L23

[2017-12-09 10:51] googlielmo commented on #56
@akvone We should have a new release in the next few days, not months!
Cheers,
Guglielmo

[2017-12-11 15:51] senwangrockets commented on #59
No, I still cannot make it work by use xml
I tried
`<?xml version="1.0" encoding="UTF-8"?>
<hazelcast
    xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.9.xsd"
    xmlns="http://www.hazelcast.com/schema/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <group>
        <name>dev</name>
        <password>dev-pass</password>
    </group>

    <propertie

[2017-12-12 14:31] googlielmo commented on #59
Hi @senwangrockets
I assume you are using a custom Docker image with Hazelcast 3.9.1, is this the case?
What version of the `hazelcast-kubernetes` plugin are you using? Is it 1.0.0 or just the latest from master?
The exception actually looks like a classpath issue, are you using the same image for both cases, with and without xml configuration?

[2017-12-13 10:51] googlielmo commented on #41
Hi @Sutty100 I'm going to close this issue as the question was answered.
We will update the documentation and/or code samples for this case.
Thanks for contributing!
Cheers,
Guglielmo

[2017-12-13 10:51] #41 closed

[2017-12-13 14:13] burakcelebi commented on #56
Fixed by #57

[2017-12-13 14:13] #56 closed

[2017-12-13 20:04] senwangrockets commented on #59
@googlielmo Yes, I'm currently using a custom docker image with hazelcast-kubernetes 1.0.0. I did use the same image for both cases. The java code configuration works fine, hazelcast server clustered together without any problem. I'm use maven-shade-plugin to package my jars.

[2017-12-14 10:44] googlielmo commented on #59
@senwangrockets The usage of `maven-shade-plugin` looks suspicious to me.
When you use Java code the `HazelcastKubernetesDiscoveryStrategyFactory` class will be loaded correctly, independently of shading (because the plugin will take care of it).
But when you use the xml file, the class will be instantiated *by name*, so it will not be found precisely because of the shading (it will be in a differ

[2017-12-14 19:04] senwangrockets commented on #59
Thanks @googlielmo, I think it is a good point, I will test with updated configuration at my earliest convenience.

[2018-01-09 10:05] googlielmo commented on #40
Fixed by #60

[2018-01-09 10:05] #40 closed

[2018-01-09 12:02] googlielmo commented on #59
Hi @senwangrockets, did your test go well? Can we close this issue?

[2018-01-15 09:51] googlielmo commented on #59
On the assumption that the suggestion above fixes the issue, I'm closing this. Feel free to reopen if needed.

[2018-01-15 09:51] #59 closed

[2018-01-17 18:10] zarrarrana opened #61 "Unable to connect client using kubernetes discovery strategy from xml"
I have a hazelcast 3.9.2  running on kubernetes which is using the HazelcastKubernetesDiscoveryStrategy, no issues.

When I try to connect a client using the following  xml config.
[code]

I get the following error.
[code]

But when I try the following code it works fine.
[code]

There was a similar issue opened but closed:
https://github.com/hazelcast/hazelcast-kubernetes/issues/59

The issue sug

[2018-01-17 18:17] zarrarrana commented on #61
I briefly looked at the code, could it be the null causing this.

DiscoveryStrategyConfig .java
[code]

DefaultDiscoveryService.java
[code]

[2018-01-18 08:40] hasancelik commented on #61
Hi @zarrarrana ,

I tried to start `3.9.2` hazelcast client with your xml. On the first try, I have encountered `com.hazelcast.config.InvalidConfigurationException: Invalid configuration` because I forgot to run `mvn clean install -DskipTests` command after I add `hazelcast-kubernetes` dependency to `pom.xml`:
[code]
Then I got another error which is related my local kubernetes setup, not `Invalid

[2018-01-18 18:25] zarrarrana commented on #61
@hasancelik  Thank you for the response. The issue was with the maven-shade-plugin configuration
as suggested in the #59 .
Adding, ServiceResourceTransformer fixed the issue.
[code]

[2018-01-18 18:25] #61 closed

[2018-01-22 15:16] arthurdm opened #62 "Integration with kubernetes horizontal pod autoscaling"
This is a feature request to integrate Hazelcast with Kubernete's [horizontal pod autoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) (HPA).

The newer `autoscaling/v2beta1` version of HPA allows for memory and custom metrics to be used instead of CPU utilization, however, some experiments with this API illustrated that HZ pods could scale up but did not scale

[2018-01-22 20:47] dacleyra commented on #62
The novel idea is to use Kubernetes auto-scaling functionality to scale out the Hazelcast data grid when it nears capacity, or to scale it in once evictions have shrunk the grid to a certain threshold.

Kubernetes memory based auto-scaling reads the RSS of the of the container. In testing a hazelcast-wm client scenario with a remote grid, the HZ container RSS doesn't seem to shrink when sessions h

[2018-01-23 15:10] akvone commented on #56
Well, we have successfully included 1.1.0 in our project. Thanks a lot!

But I've just found minor discrepancy between property definition (resolve-not-ready-addresses) javadoc and code. There it is:
https://github.com/hazelcast/hazelcast-kubernetes/blob/833f232684d87fc1b44c0e6968d9abae4e21aaf5/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java#L89

Should I create an issue?

[2018-01-23 20:04] hasancelik commented on #56
@akvone new seperate issue would be great 👍

[2018-01-23 20:18] akvone opened #63 "Javadoc discrepancy"
Hi!
There is minor discrepancy in property definition (missed dash in resolve-not-ready-addresses) between the javadoc and the code:
https://github.com/hazelcast/hazelcast-kubernetes/blob/833f232684d87fc1b44c0e6968d9abae4e21aaf5/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java#L89
and
https://github.com/hazelcast/hazelcast-kubernetes/blob/833f232684d87fc1b44c0e6968d9abae4e21aaf5/sr

[2018-01-25 07:06] #63 closed

[2018-02-28 22:00] ummershervani opened #65 "SocketException[Connection refused to address /172.16.60.55:5701]"
Hello, I am having issues while trying to have hazelcast connecting to other nodes.  Let me know if I am missing anything. I would assume that if should find other nodes and auto connect to it.

Here is my k8 deployment:

NAME:   hazelcast
REVISION: 1
RELEASED: Wed Feb 28 13:46:56 2018
CHART: hazelcast-testhz-0.1.0
USER-SUPPLIED VALUES:
env:
  gitCommit: f34wew2a5aer33ffas7a
  springProfile: qa
im

[2018-03-06 06:42] vadimkim commented on #65
Look at your hazelcast.xml. It seems you didn't initialize the properties and that is why you have

at your logs

[2018-03-06 07:06] vadimkim opened #66 "Is it working properly?"
I think there should be more information about how this discovery plugin suppose to work inside Kubernetes. At the moment I can see the following logic:
1. Plugin queries either DNS or REST for Service endpoint (I have used DNS)
2. It gets Service IP + port
3. Tries to establish connection with kubernetes service that randomly forwards query to backend hazelcast replicas in order to form the clust

[2018-03-06 14:53] googlielmo commented on #66
Hi @vadimkim thank you for reporting this.
Can you try using service endpoint REST API instead? I believe it should give you the correct address for the Hazelcast members.
DNS is mostly useful in some very specific scenario, e.g. Openshift.
We will provide more documentation going forward.

[2018-03-07 12:16] vadimkim commented on #66
Thank you @googlielmo. With REST api it works much better. I have also added overlay kubernetes network and now all hosts are able to discover each other:

[code]

[2018-03-07 12:17] #66 closed

[2018-03-09 09:44] googlielmo commented on #65
Closing this as original question was answered. Please feel free to open new issues if needed.

[2018-03-09 09:44] #65 closed

[2018-03-09 09:53] googlielmo commented on #28
Not sure if this is a "must have". Comments welcome.

[2018-03-19 19:22] dacleyra commented on #62
The current thought is to propose including the Prometheus JMX exporter javaagent in the hazelcast-kubernetes docker image.
https://github.com/prometheus/jmx_exporter

This would export Hazelcast's JMX metics on an endpoint which could be scraped by Prometheus, and fed into autoscaling.

[2018-03-30 10:25] deepu105 opened #68 "Discovery issue when doing blue green rolling updates"
Hello team,

I'm not sure if this is the correct place for this issue, but I believe its atleast a starting point, so please do let me know if I was wrong to create it here.

We use Hazelcast as 2nd level cache for Hibernate and I'm facing a weird issue, during a blue-green deployment scenario below with Kubernetes and I doubt if it is due to the discovery strategy, somehow I have never faced a si

[2018-03-30 11:45] leszko commented on #68
Hi @deepu105 ,

Thanks for asking the question here. The plugin "hazelcast-kubernetes" helps with the Hazelcast members auto-discovery, and therefore forming the cluster. In your case, it seems that the Pod A and Pod B members formed the cluster correctly, because the cache data is copied between them. The plugin is not really app version-aware, so it won't help you here.

Your issue is more relat

[2018-03-30 12:21] deepu105 commented on #68
@leszko appreciate your prompt response. I will look into the solution you suggested. I guess the third point is what I need

[2018-03-30 12:21] #68 closed

[2018-04-20 16:17] mesutcelik commented on #62
Thanks @dacleyra , your contribution would be appreciated once you test your integration.

[2018-04-25 15:07] mesutcelik opened #69 "issues with kubernetes and preparing blog post with a sample"
see the discussion here: https://gitter.im/hazelcast/hazelcast?at=5ae018a8109bb04332fb0f0d

https://blog.hazelcast.com/deploy-monitor/ could be outdated so we need to update it or just need to write a new one along with a code-samples...

Openshift example can be reused here.
https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/openshift

[2018-04-29 17:09] vadimkim commented on #69
I have problems running hazelcast-kubernetes together with management center (this container: https://hub.docker.com/r/hazelcast/management-center/)
Will add JAVA stacktrace on Monday. It seems man-center can't parse node configuration from the nodes's response.

[2018-04-30 08:49] vadimkim commented on #69
[code]

[2018-04-30 08:50] vadimkim commented on #69
Hazelcast version: 3.10
Management center version: 3.9.4

[2018-04-30 10:06] vadimkim commented on #69
Working behind NAT is not working also.  The same set up I have desribed at Gitter. Fresh logs:
[code]
Obviously it doesn't understand that cluster is behind NAT and always tries to connect to cluster member IP:port directly.

[2018-04-30 10:44] vadimkim commented on #69
Session "split brains" test is now a bit difficult due to this: https://github.com/spring-projects/spring-session/issues/1055
If I have more time I will re-assemle cluster to include this depencency into server

[2018-04-30 11:36] vadimkim commented on #69
New test:
Hazelcast version: 3.9.4
Management center version: 3.9.4
Result : I got cluster nodes visible at management center console. Logs are also clean

[2018-05-03 16:53] topikachu opened #70 "fix document about the dns lookup to use headless service"
As I test, this plugin only works with headless service name when using dns lookup. Please fix the document.

Thanks

[2018-05-04 13:42] #70 closed

[2018-05-04 19:27] mesutcelik commented on #69
Thanks @vadimkim
It is good to hear that you have no issues with the current hazelcast-kubernetes integration. please feel free to create an issue if you see a problem or need an enchancement.

I am keeping this issue until we have a blog post and supporting code sample.

[2018-05-15 08:11] codeCoder opened #73 "Nodes/Instances are registered more than once"
Hi,

i build a small spring boot app (https://github.com/codeCoder/spring-boot-hello-world)
 to get involved with kubernetes and hazelcast in it.

During the start it looks like a single hazelcast instance is registered more than once in the cluster with different ports. In https://github.com/codeCoder/spring-boot-hello-world/blob/master/hello_world_last_run_first_pod
you see following lines

	Mem

[2018-05-15 12:26] leszko commented on #73
@codeCoder , do you use a separate service for each cluster? If you use "spring-boot-hello-world-service-cluster" for both, then all six nodes would join the same cluster.

[2018-05-15 16:03] codeCoder commented on #73
@leszko Sorry i don't think i understand your question. But my idea is to connect all https://github.com/codeCoder/spring-boot-hello-world/blob/master/src/k8s/02-deployment.yaml
spring-boot-instances (at the beginning there is only one) via the service https://github.com/codeCoder/spring-boot-hello-world/blob/master/src/k8s/01-service-hz-cluster.yaml
to share a distributed hz cache. The name of th

[2018-05-15 23:52] leszko commented on #73
@codeCoder , sorry I misunderstood you question.

Actually, you're right, your application creates 3 Hazelcast instances, however the reason for that is not related to Kubernetes, but to your Spring configuration. Change your last two beans declaration to the following and it will work fine.

[code]

[2018-05-18 07:57] codeCoder commented on #73
@leszko It works!
Cool! I have now a good example how to implement rest api based discovery of hz nodes in k8s cluster!

Thanks a lot.

Do you have a working example of the dns method?

[2018-05-18 11:48] leszko commented on #73
@codeCoder I don't think we have a complete example, the best you can do is to read [1] and [2]. If the nodes don't see each other, check that you defined the "service-dns" env variable correctly (read more [3]).

[1] https://github.com/hazelcast/hazelcast-kubernetes#dns-lookup
[2] https://github.com/hazelcast/hazelcast-docker/tree/master/hazelcast-kubernetes
[3] https://kubernetes.io/docs/concept

[2018-05-24 08:55] topikachu commented on #73
@codeCoder, You need to create a headless service and use this as the DNS name.

[2018-05-25 13:40] codeCoder commented on #73
@topikachu
Can you provide some code? I don't understand what you mean.

[2018-05-28 20:51] codeCoder commented on #73
I got it. I created following service config. Now it works.
`# headless service
# for more info see: https://kubernetes.io/docs/concepts/services-networking/service/#headless-services
apiVersion: v1
kind: Service
metadata:
  labels:
    run: spring-boot-hello-world-service-cluster
  name: spring-boot-hello-world-service-cluster
spec:
  clusterIP: None
  ports:
    - protocol: TCP
      port: 5701

[2018-05-28 20:54] #73 closed

[2018-06-01 08:25] jerrinot opened #74 "Revise readme"
The main readme of this project could get some love. It talks too much about implementation details and too little about actual usage.

Example - this is close to the top of the readme:
![image](https://user-images.githubusercontent.com/158619/40830168-f72143a6-6585-11e8-8431-95d7ce2b9b4c.png)

While this is at the bottom:
![image](https://user-images.githubusercontent.com/158619/40830182-0493f416

[2018-07-06 08:55] leszko opened #75 "Include Hazelcast Kubernetes in hazelcast-all"

[2018-07-09 09:35] bitvector2 opened #76 "PROPERTY_DEFINITIONS is missing SERVICE_DNS_TIMEOUT in HazelcastKubernetesDiscoveryStrategyFactory.java"
Right after [this line](https://github.com/hazelcast/hazelcast-kubernetes/blob/f2c7d1c24802c0c12f66e6d4ed23367f6debf490/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategyFactory.java#L40) is where the property should be declared...

[2018-07-09 09:58] bitvector2 commented on #74
Nobody is interested in docker images IMHO - they are interested in using Hazelcast embedded in their own microservices.

[2018-07-09 13:31] leszko commented on #76
Thanks @bitvector2 for spotting that! Could I ask you to send a PR with the fix?

[2018-07-09 13:52] leszko opened #77 "Enable external Smart Client (expose PODs and assign public IP automatically using Kubernetes API)"
Currently, if someone deploys a Hazelcast cluster (manually or via Helm Chart), it's accessible via `LoadBalancer` service and therefore available only with the use of Dummy Client. That is the standard way how Kubernetes deals with multiple PODs. They are accessible only via one service [1].

It should be possible to expose each POD separately (using the Kubernetes Adds-On "Service Per POD" [2]).

[2018-07-13 10:06] leszko opened #78 "Add retries for node discovery"
The Kubernetes REST API should be called with retries. Otherwise, there is a risk of a sudden failure just because Kubernetes Master is down.

[2018-07-13 10:46] leszko opened #79 "Update copyright license and code formatting"
The license in files is outdates (2017).

[2018-07-27 16:46] alexsergin commented on #77
And there is a problem to discover pods between multiple kubernetes clusters. So in this way I'll need to manually add hz cluster members

[2018-08-14 14:02] #28 closed

[2018-08-14 14:02] #78 closed

[2018-08-16 12:23] SuperMari0o opened #86 "Established socket connection"
Why my cluster nodes cannot connect to each other? Every hazelcast instances have the same group name.

Is there a difference for hazelcast and discovery plugin between which kubernetes network do I use?

My configs:

[code]

Logs:

[code]

[2018-08-17 14:35] leszko commented on #86
@SuperMari0o , what is your service name? Could you send your output of `kubectl get all` and your YAML configuration files?

[2018-08-20 11:33] SuperMari0o commented on #86
[code]
@leszko what do you mean about YAML configuration files? Kops configuration or service and deployment?

Kops configuration of cluster:

[code]
**Service:**

[code]

**Deployment:**

[code]

[2018-08-23 15:17] ade90036 opened #87 "Project Dependecies"
Hi,

I have been using your plugin with great success. 👍
I had less luck in configuring the plugin to use the kubernetes api due to RBAC user permission on the service. However the DNS lookup worked flawlessly and i don't need to anything.

I'm using this version (gradle)
[code]
When gradle resolved the dependecies it also pulls in this:

[code]

Looking at the project, this is not used anymore.

[2018-08-23 15:27] ade90036 commented on #87
Excellent, thanks for the prompt reply.

On Thu, 23 Aug 2018 at 16:25, Rafał Leszko <notifications@github.com> wrote:

[2018-08-23 18:51] Gephorian opened #88 "Hazelcast starts in Standalone mode in 3.9.2"
In the example XML you have

[code]

This is misleading, we needed to have the property in 3.9 as well. Without it, we'd get a log message saying "No join methods enabled, starting in standalone mode." and the cluster would fail to initialize.

[2018-08-24 08:03] #88 closed

[2018-08-24 08:03] leszko commented on #88
Thanks @Gephorian for pointing that out!

[2018-08-24 08:04] #87 closed

[2018-08-24 09:42] leszko opened #90 "Write Blog Post about using Kubernetes"
Write a Blog Post or a series of blog posts about:
- Using Kubernetes plugin
  - with DNS Lookup Discovery
  - with REST API Discovery
- Using Hazelcast Helm Chart

Kubernetes [1] and OpenShift [2] code samples can be used.

[1] https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes
[2] https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelc

[2018-08-24 09:42] leszko commented on #69
To avoid confusion, I've created a separate issue for Writing a Blog Post: #90

The Code Samples are already ready: https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes

[2018-08-24 09:42] #69 closed

[2018-08-24 09:44] leszko commented on #75
Removing milestone, since it needs to be done after releasing `1.2`.

[2018-08-24 09:57] #76 closed

[2018-08-24 11:41] #79 closed

[2018-08-24 14:33] leszko opened #92 "Make Kubernetes ZONE_AWARE"
Use the label value of `failure-domain.beta.kubernetes.io/zone` to retrieve the zone and make Hazelcast Zone Aware.

The label can be retrieved as follows from Kubernetes Master:
1. Get `nodeName` from `/api/v1/namespaces/<namespace>/endpoints`
2. Get label value from `/api/v1/nodes/<nodeName>`

Note that the RBAC sample yaml (+ Helm Charts) need to be adapted to give read access to the `/nodes` e

[2018-08-27 12:40] #74 closed

[2018-08-29 14:56] leszko opened #94 "Update minimal-json dependencies"
Minimal JSON library package has changed from: ""com.hazelcast.com.eclipsesource.json" (3.10) to "com.hazelcast.internal.json" (3.11). It needs to be updated.

[2018-09-03 09:58] leszko commented on #94
Fixed by #96

[2018-09-03 09:58] #94 closed

[2018-09-03 11:50] leszko commented on #87
@ade90036 , FYI: `hazelcast-kubernetes 1.2` is released.

[2018-09-04 14:31] leszko opened #97 "Remove 'dnsjava' dependency"
Check if possible to remove the `dnsjava` dependency, so that `hazelcast-kubernetes` would not have any dependencies at all.

[2018-09-05 08:49] leszko commented on #97
Ok, closing for now.

[2018-09-06 07:02] #97 closed

[2018-09-06 13:38] mesutcelik opened #99 "Readme update for Scaling and Pod Termination"
It would be good to have section for Scale-in/out cases of hazelcast cluster and Pod Termination. We need to explain how to gracefully shutdown pods or hazelcast members..

[2018-09-20 07:25] leszko opened #103 "Add documentation on why to use StatefulSets instead of Deployment"

[2018-09-21 08:19] neilstevenson opened #104 "Dependency on BETA"
`hazelcast-kubernetes:1.3` has a dependency on
`hazelcast:3.11-BETA-1`

http://repo1.maven.org/maven2/com/hazelcast/hazelcast-kubernetes/1.3/hazelcast-kubernetes-1.3.pom

[2018-09-26 09:16] #103 closed

[2018-09-30 10:40] Sutty100 opened #106 "When deploying a new version of our app via rolling deployment we are seeing HazelcastInstanceNotActiveException"
We have hazelcast running embeded in a spring boot app that is deployed to Kubernetes. When we deploy a new version of our app in a rolling fashion we see a large number of HazelcastInstanceNotActiveException which results in disruption to end users. Our config is shown below. This issue occurs every time we re-deploy.
[code]

[2018-10-01 15:49] leszko commented on #106
@Sutty100 , could you attach the following information?
1. Kubernetes YML cofinguration(s)
2. How many PODs do you have?
3. The step-by-step procedure how to reproduce the issue.

[2018-10-07 11:09] kboom opened #107 "Hazelcast forms a cluster but keeps adding and removing connections to local gateway"
I am using a standard Hazelcast-Kubernetes resource, available as stable/hazelcast.
When I deploy my nodes I can see that they form a cluster:

[code]

The thing is that after the cluster is formed hazelcast keeps trying to connect to its own gateway using some ephemeral port. And keeps reconnecting over and over again.

[code]

This makes the cluster unusable as the clients keep loosing connectio

[2018-10-08 07:28] leszko commented on #107
@kboom the logs you see are probably the logs from `livenessProbe` and `readinessProbe`. They check if your PODs are alive every few seconds. That is intended (btw. in hazelcast `3.11` this logs are not anymore pronted, not to cause the confusion).

Do you have any issue with Hazelcast client loosing the connection? Could you write steps to reproduce?

[2018-10-15 09:11] TockaAyman-VG opened #108 "Each pod is forming it is own cluster"
Hello all,
I am trying to get hazelcast up and running on kubernetes cluster [I am using vertx framework in the app] , I am almost done except that each pod is forming it is own cluster. Can any one tell me what is wrong in my configuration, Thanks in advance

I added this in my gradle dependencies
`    compile group: 'io.vertx', name: 'vertx-hazelcast', version: '3.5.4'`
which internally added co

[2018-10-15 10:06] leszko commented on #108
@TockaAyman-VG  Do you have a service defined?

You can check the Kubernetes Code Samples for more info [1]. I'll also add the information about the service to README.

[1] https://github.com/hazelcast/hazelcast-code-samples/blob/master/hazelcast-integration/kubernetes/hazelcast.yaml#L55

[2018-10-15 11:10] TockaAyman-VG commented on #108
Yes I have a service for hazelcast which I took the from the example you mentioned,
here are all my yaml files
rbac.yaml , config.yaml and hazelcast.yaml are all exactly like the example you mentioned except for changing the version to 3.8.2 to be like the one used by vertx
app service.yaml
[code]
app deployment.yaml
[code]

[2018-10-15 11:16] leszko commented on #108
@TockaAyman-VG ok, the other thing you may be missing is exposing the Hazelcast port `5701` from your PODs. Could you try to add the following and try again?

[code]

[2018-10-15 11:42] TockaAyman-VG commented on #108
Unfortunately after adding it no thing changed, the same behavior happened

[2018-10-15 11:50] leszko commented on #108
You probably need also a service which exposes the port `5701`. Could you create one and try again?

[code]

[2018-10-15 12:28] TockaAyman-VG commented on #108
Do you mean I need to expose 5701 on the nodes level? Or I need to have a specific pod and service to listen on port 5701?
I think hazelcast service itself is listening on 5701 but it is mapped to another node port by kubernetes
However I exposed port 5701 from the app service and the same behavior happened
Here is how kubernetes services are configured now
[code]
and this is the updated deploymen

[2018-10-15 14:32] leszko commented on #108
`hazelcast-service` should actually be enough. Could you paste here the YAML for `hazecast-service`?

[2018-10-15 14:38] leszko commented on #108
Also, I don't see the `matchSelector` in your Deployment config. Could you try to add it?

[code]

[2018-10-16 07:18] leszko commented on #108
@TockaAyman-VG I've created also a Code Sample with the minimum configuration to run embedded Hazelcast on Kubernetes. You can have a look: https://github.com/leszko/hazelcast-code-samples/tree/kubernetes-embedded/hazelcast-integration/kubernetes/samples/embedded

Hope it'll help.

[2018-10-17 11:49] TockaAyman-VG commented on #108
@leszko
Finally, it worked.

I tried your code in a new cluster, it worked.
Then I just changed from your image to mine with changing nothing else, it does not work. So I knew that the problem was inside my docker image.

There was two differences between yours and mine:
1. You are configuring hazelcast through code while I am using xml file.
2. You are using the hazelcast client directly while I

[2018-10-18 06:41] leszko commented on #108
Great to hear that @TockaAyman-VG . If you see any improvement that could be done to the configuration, could you please raise a related GH issue in the Hazelcast or Vertx GH repo? That could be helpful.

I'm closing the issue for now. Please feel free to reopen if needed.

[2018-10-18 06:42] #108 closed

[2018-10-21 06:46] kboom commented on #107
The Hazelcast pods which are restarted all have last state:
[code]

For what it's worth here are the K8S resource definitions (based on the default config):
[code]

And the job:
[code]

Obviously this might very well involve the setup of this specific cluster. Happy to provide more details if needed.

[2018-10-22 07:31] leszko commented on #107
Could you attach also the logs from inside the container that has been terminated (your logs seem to be from the Hazelcast member that is still alive)?

Plus, is it possible that Hazelcast member instance just exceeds the heap memory and gets killed? Could you try to increase the POD memory?

[2018-10-29 16:43] CassieAin opened #111 "Hazelcast-Kubernetes plugin does not work in OrientDB cluster mode"
I have been trying to setup OrientDB in a distributed mode by following the instructions in Readme about setting up Hazelcast plugin for Kubernetes. I am using a stateful set with quite a lot of volumes. Also, I took a DNS approach. I checked from all the pods in a cluster that they find each other. Also, the same selectors defined in a headless service can be applied to the pods. It seems like th

[2018-10-30 10:08] leszko commented on #111
@CassieAin Thanks for the question. Your configuration looks fine. Could you send here for following info?
1. Your Kubernetes yaml configuration for the StatefulSet
2. The output of `kubectl describe service/orientdbservice`
3. Are you running in the namespace `default`?

[2018-10-31 08:20] leszko opened #112 "Use /pod API instead of /endpoint for the default configuration"
Currently, while using Kubernetes Discovery Strategy with no parameters and no service defined, the members do not discover themselves. The reason for that is that we use `/endpoint` Kubernetes API which returns only PODs related to services. We should change it to `/pod` and if no properties are defined, then discover all PODs in the namespace.

[2018-10-31 08:49] CassieAin commented on #111
@leszko  I am going to answer in the reverse order as StatefulSet description will take most of the space.
3. Yes, I am running in the default namespace
2.  Here is the output of `kubectl describe service/orientdbservice`
[code]

1. My StatefulSet  configuration (I run server_config_template.sh script to create a template for orientdb-server-config.xml file where the nodeName value is replaced wit

[2018-10-31 08:52] CassieAin commented on #112
I think it should be mentioned in the Readme somehow. Because right now there is such an information:

[2018-10-31 12:10] leszko commented on #111
@CassieAin The configuration looks fine. I even created some similar configuration with embedded Hazelcast and the discovery worked fine. Could I ask you also for the following information?
1. What `hazelcast-kubernetes` version do you use?
2. How do you pass the the JAR (code of `hazelcast-kubernetes`)? Do you have it on you classpath?
3. Could you paste the whole log (at least the parts related

[2018-10-31 13:34] CassieAin commented on #111
1. I`ve set 1.3.1 hazelcast-kubernetes version
2. I passed it into my build.sbt file as well as to the default-java/jre/lib/ext folder.
3. Here is the log of the execution on one of the pods. It looks the same for all pods. There is only one member, the pod itself, is defined in the cluster insead of the all nodes:

[code]

[2018-10-31 13:38] CassieAin commented on #111
1. I`ve set 1.3.1 hazelcast-kubernetes version
2. I`ve passed it into my build.sbt file as well as to the default-java/jre/lib/ext folder.
3. Here is the log of the execution on one of the pods. It looks the same for all pods. There is only one member, the pod itself, is defined in the cluster insead of the all nodes:

[code]

[2018-11-01 12:30] leszko commented on #111
@CassieAin Your configuration looks fine, however the weird thing is that you don't have anywhere the logs from `HazelcastKubernetesDiscoveryStrategy`. Something [like that](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java#L67) should be printed.

Could you maybe try the more recent Hazelcast version? I s

[2018-11-01 14:03] CassieAin commented on #111
@leszko I have updated Hazelcast version to `3.10.4` and now I have such error messages in the logs of each pod. There is a problem with hazelcast-kubernetes jar indeed. I use build.sbt to setup dependencies and for some reason, all the dependencies are set up in a classpath from this file except for the hazelcast-kubernetes dependency. When I set up it manually the jar disappears after each build

[2018-11-01 14:05] CassieAin commented on #111
@leszko  I have updated Hazelcast version to` 3.10.4 `and now I have error messages in the logs of each pod. There is a problem with hazelcast-kubernetes jar indeed. I use build.sbt to setup dependencies and for some reason, all the dependencies are set up in a classpath from this file except for the hazelcast-kubernetes dependency. When I set up it manually the jar disappears after each build.
He

[2018-11-02 10:41] leszko commented on #111
@CassieAin Good to hear that there is a progress. Still it's weird that you have `hazelcast-kubernetes.jar` on your classpath, but you get this kind of error. It looks somehow like the Discovery Factory that should be registered [here](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/resources/META-INF/services/com.hazelcast.spi.discovery.DiscoveryStrategyFactory) is somehow

[2018-11-05 14:05] leszko commented on #111
@CassieAin please try also to get the ClassLoader from some other class. E.g. I did something like that:

[code]

And it printed:
[code]

Which is correct. In your case, I think the classpath is somehow the problem. So, the first thing to check is that you really have `hazelcast-kubernetes.jar` during the execution.

[2018-11-05 14:20] CassieAin commented on #111
@leszko After the execution with a ClassLoader, I get this:
`jar:file:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/ext/hazelcast-kubernetes-1.3.1.jar!/META-INF/services/com.hazelcast.spi.discovery.DiscoveryStrategyFactory`

[2018-11-05 14:55] leszko commented on #111
It's super weird, it seems you have `hazelcast-kubernetes.jar` and everything on your classpath, but still get this exception.

One more thing you may try is to use `hazelcast-kubernetes` version `1.2.2`. Technically, `1.3+` is compatible with hazelcast `3.11+`. Anyway, I don't think that that's an issue, because you'd get ClassNotFoundException or something like that.

If changing `hazelcast-kube

[2018-11-05 18:49] CassieAin commented on #111
@leszko You are right, the change of the version does not fix the problem. I wanted to clarify something regarding the DNS setup. I am using only service name for accessing the pods (which is orientdbservice) and I have only one headless service created. So I wanted to find out whether it is the right configuration?

[2018-11-06 08:56] leszko commented on #111
Yes, the configuration is fine.

Actually, the exception you get: `Caused by: com.hazelcast.config.properties.ValidationException: There is no discovery strategy factory to create 'DiscoveryStrategyConfig{properties={service-dns=orientdbservice2.default.svc.cluster.local, service-dns-timeout=10}, className='com.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategy', discoveryStrategyFactory=nu

[2018-11-06 11:08] CassieAin commented on #111
@leszko I have checked. hazelcast-kubernetes.jar is not in any of the OrientDB libs and plugins folders. I guess that is why the plugin does not load.

[2018-11-06 12:34] CassieAin commented on #111
@leszko The error was indeed in it. I have mounted this jar file into Orientdb/plugins directory in the command section of my Stateful Set and the plugin started to work properly. I think you can close this issue.
These are the logs now:
[code]

[2018-11-06 12:48] #111 closed

[2018-11-06 13:11] leszko commented on #111
Great to hear that it worked :)

[2018-11-08 15:21] kelvin-johnson opened #113 "Each pod is forming its own cluster when using namespace, serviceLabelName, serviceLabelValue"
I am attempting to form a cluster using embedded hazelcast while specifying a namespace, serviceLabelName and serviceLabelValue.  Below are excerpts from my code and deployment\service yaml.

Note: the K8S_NAMESPACE, K8S_SERVICE_LABEL_NAME, K8S_SERVICE_LABEL_VALUE map to the hazelcast config properties.

Each pod in the deployment forms its own cluster.  I have not found any examples that use the

[2018-11-09 09:44] leszko commented on #75
This needs to be done in Core. Related PR: https://github.com/hazelcast/hazelcast/pull/13947

[2018-11-09 09:44] #75 closed

[2018-11-09 09:45] leszko commented on #86
Closing due to inactivity. Please reopen if needed.

[2018-11-09 09:45] #86 closed

[2018-11-09 09:45] leszko commented on #90
Neil added a Blog Post on K8. I added a Post on Helm Chart. Closing.

[2018-11-09 09:45] #90 closed

[2018-11-09 09:47] leszko commented on #104
Fixed by #110

[2018-11-09 09:47] #104 closed

[2018-11-09 09:47] leszko commented on #106
Closing due to inactivity. Please reopen if needed.

[2018-11-09 09:47] #106 closed

[2018-11-09 09:47] leszko commented on #107
Closing due to inactivity. Please reopen if needed.

[2018-11-09 09:47] #107 closed

[2018-11-09 10:09] leszko commented on #113
@kelvin-johnson, your Java configuration looks fine. However, the issue is in the K8 Service configuration. You don't specify any labels on the service. Please check how to do it [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/). You have labels on the deployment, not the service.

Actually, if you want to create a service per Hazelcast cluster, then I recommend usi

[2018-11-09 12:22] kelvin-johnson commented on #113
@leszko Thank you for your response!  What are the requirements for the labels on the service.  My understanding was that I needed to specify spec:app:myservice: some-value to tie the service to the set of pods that will be a part of the service.

Also, there are more than just this one app that need to join this specific Hazelcast cluster.

Could you give me more detail as to what the service lab

[2018-11-09 17:35] leszko opened #115 "Label PODs instead of services"
Filtering Hazelcast members by labeling services is weird. The more straightforward approach would be to just label PODs and make the labeling services deprecated.

Related to : #113

[2018-11-09 17:35] leszko commented on #113
@kelvin-johnson Good to hear that the issue is solved. Closing it.

Btw. I think that labeling service (not the PODs) is a little confusing, so created a GH issue: #115

[2018-11-09 17:35] #113 closed

[2018-11-12 20:46] mesutcelik commented on #90
Those are the mentioned blog post links as a reference.
https://blog.hazelcast.com/hazelcast-helm-chart/
https://blog.hazelcast.com/hazelcast-on-kubernetes-made-fairly-easy/

[2018-11-13 09:43] #99 closed

[2018-11-28 09:17] SmileSees opened #118 "Does hazelcast-kubernetes support istio?"
I was using hazelcast-kubernetes in the k8s cluster before, when scale two hazelcast-kubernetes StatefulSet, they can join together, and working with my services.

Recently our services injected with istio. I try to inject the hazelcast-kubernetes with istio, it was running, but those two hazelcast-kubernetes cannot join together.

Do you know how to configure with istio for hazelcast-kubernetes?

[2018-11-28 14:30] mesutcelik commented on #118
Hi @SmileSees ,
We haven't tested Istio yet but planning to have a look at it soon. It would be appreciated if you can provide any feedback or contribution.

[2018-11-30 01:32] SmileSees commented on #118
Hi @mesutcelik, I have tested with some scenarios,
1. No istio involved, 2 hazelcast pod, 1 our service pod, in our service's log, can see there are 3 members in the members section.
2. Hazlecast is not inject with istio, our service injected with istio, in our service's log, there is our 1 member in the member section.

There are some logs,

com.hazelcast.nio.tcp.TcpIpConnectionManager.null [172.

[2018-11-30 15:29] leszko commented on #118
@SmileSees , could you paste here your k8 configuration (yaml)?

[2018-11-30 16:04] SmileSees commented on #118
Hi @leszko , you can refer to https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/embedded, I  also tried this code sample and deployment sample, it have the same result with my service.
1. When istio not involved, the 2 pods can join together.
2. After injected the service with istio, the 2 pods cannot join as a cluster.

[2018-12-03 08:33] leszko commented on #118
Sorry, I don't have much knowledge about Istio, but I'll try to help. Could you write exactly what changes you made to https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/embedded, so that id does not work?

[2018-12-03 08:47] SmileSees commented on #118
Hi @leszko, I only add two names for hazelcast ports.
Deployment.yaml:

	apiVersion: apps/v1
	kind: Deployment
	metadata:
	  name: hazelcast-embedded
	spec:
	  replicas: 2
	  selector:
	    matchLabels:
	      app: hazelcast-embedded
	  template:
	    metadata:
	      labels:
	        app: hazelcast-embedded
	    spec:
	      containers:
	        - name: hazelcast-embedded
	          image: docker

[2018-12-03 08:50] SmileSees commented on #118
The logs above was using command:
`kubectl apply -f <(istioctl kube-inject -f deployment.yaml)`

[2018-12-04 08:11] #112 closed

[2018-12-04 14:24] leszko commented on #118
Could you paste also the resources that were created in k8? Meaning the output of `kubectl get all` and `kubectl describe` for the service and POD?

[2018-12-05 12:04] leszko commented on #118
Ok, I had a look, but still have no clear answer, because I lack the knowledge about Istio. Here are my thoughts:
1. Discovery itself works fine, you can see in the POD logs, that one Hazelcast member tried to connect to another Hazelcast member (`[172.50.15.13]:5701 [dev] [3.11] Connecting to /172.50.1.28:5701`). They use the correct IP addresses.
2. I'm not sure what does the Istio Proxy Contain

[2018-12-06 19:22] pjgg opened #119 "java.lang.NoClassDefFoundError: com/hazelcast/internal/json/JsonValue"
When I try to deploy a vertx pod in kubernate I got the following exception:
SEVERE: Error
java.lang.NoClassDefFoundError: com/hazelcast/internal/json/JsonValue
        at com.hazelcast.kubernetes.ServiceEndpointResolver.buildKubernetesClient(ServiceEndpointResolver.java:67)
        at com.hazelcast.kubernetes.ServiceEndpointResolver.<init>(ServiceEndpointResolver.java:60)
        at com.hazelcast

[2018-12-07 08:03] leszko commented on #119
@pjgg This is because you use the incompatible `hazelcast-kubernetes` version. Note from [hazelcast-kubernetes](https://github.com/hazelcast/hazelcast-kubernetes):

You need to either upgrade vertx to use hazelcast 3.11 or downgrade hazelcast-kubernetes to 1.2.2.

[2018-12-12 11:06] leszko opened #120 "Fix NullPointerException in DnsEndpointResolver"
If no hostname is found, `DnsEndpointResolver` throws `NullPointerException`. We should add a check for null to give a better message to the user.

[code]

[2018-12-18 20:02] kti-nicole commented on #118
Hi, we're having the same issue. The curl in a similar situation gives a generic timeout. If it helps, on a successful connection (without istio) the connection comes from the pod IP, but with istio it's coming from the sidecar on localhost;

`Dec 18, 2018 7:55:59 PM com.hazelcast.nio.tcp.TcpIpConnection
INFO: [10.32.0.132]:5701 [dev] [3.9.3] Connection[id=49, /127.0.0.1:5701->/127.0.0.1:50510, en

[2018-12-19 12:59] #120 closed

[2019-01-04 17:10] futurexv2016 opened #124 "Hazelcast instance used for 2nd Hibernate cache cannot connect stably in Kubernetes"
hi, I have an issue when using embedded Hazelcast deployed in Kubernetes(GKE) to enable 2nd level cache Hibernate in Spring Boot application. Spingboot app connect to Spanner by using spanner-jdbc (https://github.com/olavloite/spanner-jdbc). I deploy 1 service (replicas=2) to k8s, however hazelcast instances located in 2 pods cannot connect stably (it works when server starts but then seem disconn

[2019-01-07 09:57] leszko commented on #124
Please follow the same discussion on StackOverlflow: https://stackoverflow.com/questions/54037219/hazelcast-instance-used-for-2nd-hibernate-cache-cannot-connect-stably-in-kuberne

[2019-01-08 09:22] SmileSees commented on #118
We use https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/springboot-k8s-hello-world this example, and put **the-server** in the k8s env, let **the-client** inject with istio, and add a **ServiceEntry** with server pod's ip find out that the-client service be able to connect the-server cluster, can see the member list from the-client logs.
Exam

[2019-01-10 15:59] futurexv2016 commented on #124
Thanks, the issue is resolved according to the answer in the link.

[2019-01-10 16:03] #124 closed

[2019-01-14 12:22] anton-johansson opened #126 "Example config does not match XSD"
Looking at [the XSD for Hazelcast](https://hazelcast.com/schema/config/hazelcast-config-3.10.xsd), it doesn't really match the example configuration:
[code]

There's no such element `kubernetes` under `join`. I'm getting the following exception when starting Tomcat in my container (I'm not in Kubernetes yet, still raw Docker, but it shouldn't matter at this point):
[code]

[2019-01-14 13:01] mesutcelik commented on #126
Hi,
This new discovery tags has been introduced in 3.11 so can you try with the latest hazelcast version 3.11.1 ?

https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-config-3.11.xsd#L1812

[2019-01-14 13:02] anton-johansson commented on #126
Aha, I see. I will give it a try (altough that means Hazelcast `3.11-BETA` until a new version of this repository is released, if I've understood things correctly).

[2019-01-14 13:04] mesutcelik commented on #126
Yes, you are right but you can override it in your pom.xml and use 3.11.1

[2019-01-14 13:05] anton-johansson commented on #126
Allright, thanks!

[2019-01-14 13:15] anton-johansson commented on #126
Hm, I'm getting the same error with this one too. I also cannot see the new `kubernetes` element in https://hazelcast.com/schema/config/hazelcast-config-3.11.xsd.

[2019-01-14 13:39] mesutcelik commented on #126
Normally, schema validation is done against the XSDs embedded into hazelcast.jar. The one on the webserver is for references.

Can you please make sure 3.11 is only on the classpath with no other hazelcast version?
Can you also define schema file by its name only?
`xsi:schemaLocation="https://hazelcast.com/schema/config hazelcast-config-3.11.xsd`

[2019-01-14 13:46] anton-johansson commented on #126
Using the name only seems to have gotten me further. Thank you very much!

[2019-01-14 13:46] #126 closed

[2019-01-24 14:55] dannygu opened #127 "Invocation of init method failed; nested exception is java.lang.NoClassDefFoundError: com/hazelcast/com/eclipsesource/json/JsonValue"
Hi,

We are running the hazelcast server docker hub image (hazelcast/hazelcast:latest) which seems to work fine (discovery works on k8s) but when we try to perform discovery on the client side we hit the following error:

[code]

On the client we are using hazelcast-all-3.11.1.jar (which as far as we understand already includes support for k8s discovery).

Our hazelcast-client.xml is pretty straig

[2019-01-24 15:18] #127 closed

[2019-02-17 12:42] jerrinot commented on #92
@leszko: isnt this fixed by https://github.com/hazelcast/hazelcast-kubernetes/pull/122 ?

[2019-02-18 09:43] leszko commented on #92
Yes, sorry I forgot to close this one.

Fixed by #122

[2019-02-18 09:43] #92 closed

[2019-02-25 08:40] leszko opened #129 "Remove deprecated properties"
The following properties are deprecated and should be removed in the next release:
- `service-port`
- `service-label-name`
- `service-label-value`

[2019-03-05 02:50] lovepocky commented on #118
I have succeed to setup cluster with configuration above:

[code]

[2019-03-05 09:50] #77 closed

[2019-03-05 15:41] leszko opened #130 "Make number of retries (to Kubernetes API) configurable"
Currently the number of retries of calls to Kubernetes API is hardcoded to 10. It should be made configurable with a property and the default value should be reduced to 5.

[2019-03-22 17:19] leszko commented on #118
@lovepocky Could you describe in more details how you made hazelcast [springboot-k8-hello-world](https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/springboot-k8s-hello-world) work in Istio?

I actually tried the following, but it didn't work.
1. Install Istio into k8 cluster
2. Create `service-entry.yaml` as you described.
[code]
3. Apply Serv

[2019-03-23 01:10] SmileSees commented on #118
The deployment.yaml have server, client and managerment center. Put the client into another yaml file. Only inject the client related file:
kubectl apply -f <(istioctl kube-inject -f client.yaml)
And only apply server and management center in k8s env, by:
kubectl apply -f server.yaml

@leszko, pls try above.

[2019-03-23 01:23] lovepocky commented on #118
@leszko Oh, I means that using `ServiceEntry` will not block the outbound port in my last comment, i.e. {this pod ip}:{some random port} -> {other pod ip}:5701
I have setup cluster of vertx-cluster with hazel, not spring hello-world demo.

[2019-03-23 09:56] martinbe1io opened #131 "Module is not recognized by Hazelcast"
Hi,

I'm using Jooby framework (https://github.com/jooby-project/jooby/tree/master/modules/jooby-hazelcast) with Hazelcast 3.11 and include the Hazelcast-kubernetes plugin in my pom.xml, tried it with both versions 1.3.1 and 1.4

[code]

the Hazelcast starts as usual (as without the plugin) but even tough I configured the plugin in my pom.xml and enabled the necessary configuration the plugin seem

[2019-03-24 10:49] martinbe1io commented on #131
finally solved not a problem of Hazelcast-kubernetes module; issue was a wrong interpretation of the frameworks configuration transfer to Hazelcast config

https://github.com/jooby-project/jooby/issues/1305

[2019-03-24 10:49] #131 closed

[2019-03-25 15:55] leszko commented on #118
@SmileSees @lovepocky I try, but still cannot get it working. I use the following code: https://github.com/leszko/hazelcast-code-samples/tree/istio-test/hazelcast-integration/kubernetes/samples/springboot-k8s-hello-world

1. I create a cluster on GKE and check the CIDR.

[code]

2. I update `service-entry.yaml` with my CIDR and apply it.

[code]

3. I start the server and management center.

[code

[2019-03-26 09:37] SmileSees commented on #118
Hi@leszko, I just tried with your steps, it worked in my cluster.  My serviceentry host is "*", and cidr is "172.50.0.0/16", I am not sure if it affect anything.

    NAME                     READY   STATUS    RESTARTS   AGE     IP             NODE        NOMINATED NODE
    pod-hazelcast-client-0   2/2     Running   0          4m51s   172.50.10.77   10.0.0.17   <none>
    pod-hazelcast-client-1

[2019-03-26 13:16] fireplace009 opened #132 "Couldn't connect to the Kubernetes master"
Hello,
I'm trying to get my hazelcast working in openshift.
But I'm receiving **_Couldn't connect to the Kubernetes master_**

- I added the dependencies

			<groupId>com.hazelcast</groupId>
			<artifactId>hazelcast-kubernetes</artifactId>
			<version>1.4</version>

- added in the hazelcast config in my project.

- configured a service account in openshift (admin role)

Am I forgetting something?

[2019-03-26 13:21] leszko commented on #132
@fireplace009
1. After 10 retries, you should see the exact stacktrace, could you share it?
2. Could you share the project and the exact steps to reproduce?

[2019-03-26 14:31] fireplace009 commented on #132
Hey Leszko,
Thank for the quick reply/

As you can see, after the 10 tries, he does create a cluster.
Running a second pod however does not make them find each other.
They just both create their own single node cluster.

The rest of the stack:

  | 2019-03-26 14:25:31.907  WARN 8 --- [           main] c.h.s.d.integration.DiscoveryService     : [100.126.149.78]:5701 [dev] [3.11] Cannot fetch the cu

[2019-03-26 14:39] leszko commented on #132
`<service-port>9001</service-port>` this looks suspicious. You need to expose Hazelcast port (5701) in the service if you want to use `service-port`.

[2019-03-26 14:59] fireplace009 commented on #132
Ok, YES !
Thank you :)

modified the service port to

Members {size:2, ver:2} [
--
  | Member [100.126.149.78]:5701 - 8e8ad01b-0101-438b-9255-0a47c2873181
  | Member [100.126.145.235]:5701 - 3f560fdf-3fc9-462a-bc21-0efc18a6a29a this
  | ]

Why is he complaining about the kubernetes-master ?

[2019-03-26 15:06] leszko commented on #132
Good point. I've changed the error message here: #133 . Closing this one. Feel free to reopen if you still encounter any issues.

[2019-03-26 15:06] #132 closed

[2019-03-26 16:02] leszko commented on #118
@SmileSees interesting.... which Istio version do you use?

[2019-03-26 16:12] SmileSees commented on #118
@leszko I am using istio 1.0.2 version with auth-demo.yaml.

[2019-03-26 16:33] leszko commented on #118
@SmileSees Thanks, it works in 1.0.2 indeed! Super weird, Istio versions:
- 1.0.2 - works fine
- 1.0.6 - does not work
- 1.1.0 - even the main Istio Bookinfo sample doesn't work!

Anyway, thanks a lot for the help!

[2019-04-02 10:23] leszko opened #135 "Validate properties"
The input properties should be validated:
- `service-dns-timeout`: cannot be negative
- `kubernetes-api-retries`: cannot be negative
- If DNS Lookup parameters are specified, the Kubernetes API cannot be specified and vice versa
- ...

It may also be possible to refactor parameters validation and parsing to a separate class.

[2019-04-02 10:51] #130 closed

[2019-04-04 13:08] hariharanpalani opened #136 "Not finding the members between different nodes in a cluster"
You can closed this issue. It is configuration issue.

[2019-04-05 08:01] #136 closed

[2019-04-11 20:21] bitsofinfo opened #138 "More granular RBAC permissions?"
Can you please provide the specific rules besides the generically broad set covered under the `view` role per the README.

For example, granting the entire `view` role seems pretty broad for a hazelcast app in k8

What specific `resources` and corresponding `verbs` does hazelcast actually need to do the discovery?

[2019-04-11 20:27] bitsofinfo commented on #138
i.e is it just `pods` and `endpoints`?

[2019-04-12 04:46] mesutcelik commented on #138
Yes it is. We also only assign `get` and `list` verbs.
You can see the minimum list in the official helm chart repository.
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/role.yaml#L15

[2019-04-12 10:00] #135 closed

[2019-04-12 18:55] bitsofinfo opened #139 "WARN [RetryUtils] Couldn't connect to the Kubernetes master"
Running 1.4 (i can't pull 1.5, not in maven central yet?)

WARN [RetryUtils] Couldn't connect to the Kubernetes master

My k8 master url is correct, RBAC config is good, from inside the container I can hit the k8 master fine.

This error gives me zero details as to what specifically the issue is. I saw the other change recently that changed the message in https://github.com/hazelcast/hazelcast-kub

[2019-04-12 19:01] bitsofinfo commented on #139
i.e. maybe a flag to give more details like, "i could connect to k8, did a query and got this back" (literal response dumped) etc

[2019-04-12 19:30] bitsofinfo opened #140 "Where is 1.5 published?"
I can't pull this in gradle

[code]

[2019-04-12 19:31] bitsofinfo commented on #115
agreed, please let it just select on pod labels. Or at least an option too!

[2019-04-15 06:58] hugree opened #141 "Two kubernetes clusters... is there any way to connect Hazelcast nodes?"
We are using the hazelcast-kubernetes plugin for Kubernetes and it works fine.

Now since we want to build a Highly Available Kubernetes cluster and use two clusters for our services I'm wondering is there any way to form a Hazelcast cluster that's able to discover Hazlecast nodes (let's say within the same namespace) across both Kubernetes clusters???

[2019-04-15 07:05] leszko commented on #139
@bitsofinfo wrt 1.5, it's now marked as "Pre-release". We'll release 1.5 on Wednesday.

After 10 retries, you should see the whole stacktrace with the exact message from the Kubernetes API. So I guess that's what you need. Btw. this number of retries is made configurable (and made default to 3) in 1.5, since we notices 10 retries is a lot and you get the stacktrace too late.

[2019-04-15 07:06] leszko commented on #140
We'll publish 1.5 on Wednesday. Currently if you look at the [releases](https://github.com/hazelcast/hazelcast-kubernetes/releases), it's in the "Pre-release" state. Hope it helps.

Closing this one. Feel free to reopen if needed.

[2019-04-15 07:06] #140 closed

[2019-04-15 07:20] leszko commented on #141
@hugree Yes, it's possible. Let me mention the options you have:

1. Create one Kubernetes cluster which contains nodes in multiple zones (i.e. GKE supports it) and then use [Hazelcast ZONE_AWARE feature](https://github.com/hazelcast/hazelcast-kubernetes#zone-aware).

2. Exchange service account token and ca-certificate and use a configuration similar to the one mentioned for the [external client.

[2019-04-15 07:32] hugree commented on #141
Option #2 sounds like something we can use. I will definitely check it out. Will it work with server nodes too or only clients?

Thank you for a blazing fast response!

By the way... we're running on Azure AKS but we do use one Application Network (VPC).

[2019-04-15 07:44] leszko commented on #141
It will work for server nodes too. If you use one Azure VPC, then you don't specify `<use-public-ip>true</use-public-ip>`, because one VPC means they use the private Kubernetes addresses.

The configuration for the Hazelcast member will be actually the same as for the Hazelcast Client, so I guess you'll sort it out. If you encounter any issues, let me know.

[2019-04-15 14:04] #139 closed

[2019-04-19 10:00] #138 closed

[2019-04-26 15:52] kardasa opened #142 "Fix the Readme property-name: service-dns-time"
The property name in DNS Lookup section named service-dns-time is invalid. I think it should be service-dns-timeout as least  setting such property name in config works the name mentioned in README does not.

[2019-04-26 18:11] #142 closed

[2019-04-26 18:12] mesutcelik commented on #142
Thanks @kardasa for the catch! I fixed it with a direct push.

[2019-04-30 08:39] jerrinot opened #143 "Link Helm chart and operator from readme"
the readme should link to Hazelcast Helm chart and Operator.

[2019-04-30 12:42] neilstevenson opened #144 "Lite-members for Helm"
The Helm chart only creates non-lite members.

It would be useful if it could create lite-members also.

[2019-04-30 12:44] neilstevenson opened #145 "Helm chart using Yaml"
The Helm chart should be able to use `hazelcast.yaml`

Given the Yaml name of Helm, this could be the default

[2019-05-01 19:10] hugree commented on #141
I've finally got around to try this out... I'm close, I think, but I'm missing something at the moment

I'm going for the smart client.

I was able to configure the second cluster to user the master node from the first cluster.

This is the endpoints list from Cluster #1
[code]

and this is the service created by the Metacontroller

[code]

However, when the Cluster #2 tries to form the cluster I

[2019-05-01 20:57] hugree commented on #141
Another update. After finding in the sourcecode
[code]
I removed one additional port and now I'm getting
[code]

I don't have an ExternalIP because my service is not using a public Load Balancer.

I'm wondering if this code
[code]
should use `InternalIP` in my case? Would that work?

[2019-05-03 11:22] hasancelik commented on #141
@hugree , as @leszko mentioned above, if your kubernetes clusters are in the same network(VPC), you don't need to expose IPs with Metacontroller. You can connect to master cluster from other clusters via just configuring `kubernetes-master`, `api-token` and `ca-certificate`:
[code]
master cluster config:
[code]

[2019-05-06 07:39] hugree commented on #141
Thanks for the input but that's how my clusters have been configured already.

I'm deep in debugging the `KubernetesClient.java` source code and since the `enrichWithPublicAddresses` method is always called I don't see how I can "steer" the code to now look for the public addresses hence the `Node does not have ExternalIP assigned` errors is as far as I got without creating the public Load Balance

[2019-05-06 13:20] hugree commented on #141
@leszko I went with my gut and modified the `extractNodePublicIp` method to use `InternalIP` instead of `ExternalIP` in my case as I was hinting above. I was finally able to form a multi k8s hazelcast cluster :D.

I would like to prepare a PR so please let me know if my findings are correct or not.

[2019-05-08 14:54] henrikarro opened #146 "NodePort Service Requires Access to /nodes Kubernetes Resource"
I'm trying to configure Hazelcast clients outside the Kubernetes cluster where our service is running embedded Hazelcast nodes. We are running in a shared Kubernetes cluster, where we have access only to our own namespaces. We do not have access to LoadBalancer services, so I'm using NodePort services to expose Hazelcast to the clients.

The service account I'm using currently does not have access

[2019-05-09 08:40] hasancelik commented on #141
@hugree The external smart client implementation is `ExternalIP` centric and it is a design decision. I am not sure about we should support this kind of setup because we have already solution for them as mentioned above.

btw, @leszko will not be online until the end of the next week. He can answer your questions when he is online.

[2019-05-09 12:47] hasancelik commented on #146
Hi @henrikarro,

Afaik `node's HostName` is not reachable from outside of the cluster. Could you describe your setup more? How does your external client reach hazelcast cluster via `node's HostName`?

[2019-05-10 09:08] googlielmo commented on #146
Hi @henrikarro

I concur with @hasancelik that it would only be useful when the discovery happens in the same cluster (i.e., not for external clients). That said, I'd be happy to review a PR provided it is optional by some config parameter.

Cheers,
Guglielmo

[2019-05-10 09:43] henrikarro commented on #146
I'm currently working with an organization that has set up their own "Kubernetes as a service" solution. In this environment, the node names *are* available outside the cluster and accessible from external clients.  As I'm not a Kubernetes expert, I don't know what the normal behavior is. For testing, I will set up a minikube and see what happens.

If this were to be added as an optional feature,

[2019-05-10 09:51] googlielmo commented on #146
Interesting. And yes, that's what I had in mind.

[2019-05-10 09:57] henrikarro commented on #146
OK, I will create a push request, probably during this weekend.

By the way, thank you for creating `hazelcast-kubernetes`, it has proved very useful!

[2019-05-10 10:52] mesutcelik commented on #146
I did not know there could be such a use case but true. Some environments are very restrictive and hazelcast-kubernetes is expected to do its best to be compatible with such environments. Thanks for your usecase.

Adding a new flag would normally complicate stuff because you need to be aware of such a flag `useNodeNameInsteadOfExternalIp` and use it in your setup. On the other hand, if we solve it

[2019-05-10 13:20] henrikarro commented on #146
OK, I'm open to do it either way; using a flag, or doing it automatically if external IP lookup fails.

So how do you want me to handle this? The benefit of doing it automatically is that it would "just work", a drawback might be that it could lead to strange problems later if the node name is not available from the client.

If we do it automatically, we can log the stack trace of the failed exter

[2019-05-10 13:41] googlielmo commented on #146
Yeah in this case doing it automatically should not break compatibility as far as I can see. I agree we should provide informative log messages.

[2019-05-10 13:43] mesutcelik commented on #146
Hi @henrikarro ,

Checking it again made me think that using flag is better because that is not a very common use case and if we define the flag in the README very well than people would just pick it up when they need it. It also eliminates the weird cases you described above.

The name should be like `useNodeNameWithExternalClient` but let me know if you find a shorter name.

[2019-05-10 21:13] googlielmo commented on #146
Thanks @mesutcelik, I concur.
@henrikarro looks like we have a plan! Looking forward to your PR.

Cheers,
Guglielmo

[2019-05-17 09:47] googlielmo commented on #141
Hi @hugree I was reading this thread but I'm not sure I follow. Cannot you share the server and client configuration?

[2019-05-20 10:46] leszko commented on #145
Helm Chart uses YAML. Please see: https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L32

[2019-05-20 10:48] leszko commented on #144
Helm Chart is only about creating the Hazelcast cluster, not really the client. What would be the usage of the lite member in that case?

[2019-05-20 13:22] #145 closed

[2019-05-20 13:23] neilstevenson commented on #144
Lite-members are part of the cluster, they are not clients, and can be promoted to full members.
Since they are cluster members, we should be able to create them with a helm chart

[2019-05-20 13:40] mesutcelik commented on #145
That is the PR for central repo update
https://github.com/helm/charts/pull/13474

[2019-05-20 14:57] leszko commented on #141
@hugree ok, I'm back, let me comment on this.

I think I missed the point from the beginning. If I understand it correctly, you'd like to create one Hazelcast cluster across two different Kubernetes clusters within one VPC. So, for example, you'll have k8 **cluster1** and k8 **cluster2** and in each cluster you'll have 3 Hazelcast members:
- **cluster1: hz1, hz2, hz3**
- **cluster2: hz4, hz5, hz6*

[2019-05-20 15:03] leszko commented on #141
@hugree Also keep in mind that with such custom cases, you can always use a service registry like Eureka, then you can configure whatever you want.

[2019-05-24 10:01] leszko commented on #144
Moved to https://github.com/hazelcast/charts/issues/39

[2019-05-24 10:01] #144 closed

[2019-05-24 14:58] #146 closed

[2019-05-27 11:04] leszko opened #149 "Update README.md to use YAML (not XML)"

[2019-06-03 22:19] bitsofinfo opened #151 "HazelcastKubernetesDiscoveryStrategy: how often does this update?"
I am have an app using 1.5.1 version of this library.

I have `<resolve-not-ready-addresses>true</resolve-not-ready-addresses>`

Both apps are available at 5701 locally from within the cluster

My question is how often does `HazelcastKubernetesDiscoveryStrategy` "re-poll" k8s to check for updated state? It would appear it just does it 1x on HZ startup and never again?

[2019-06-04 02:42] bitsofinfo commented on #151
invalid issue

[2019-06-04 02:42] #151 closed

[2019-06-04 14:34] bitsofinfo opened #152 ""Failure executing: GET" against k8s APIs should be logged as ERROR... not TRACE"
Could have save a ton of time had this message been logged as FATAL/ERROR or anything other than TRACE.

The logs were completely silent as to this failure.

[code]

[2019-06-13 14:52] crashodd opened #153 "Makes sense to use default resolve-not-ready-addresses true?"
Some time ago we were migrating all our services to kubernetes and we face some problems with the applications that were making use of hazelcast.

Some of this applications while booting up are loading some static data meant to be hosted in hazelcast, but applied some logic to only masters in hz cluster would do the logic and only would be loaded once.

Once moved to k8s we were expecting to have

[2019-06-13 15:10] leszko commented on #153
@crashodd , it makes sense to me. It's a non-backward compatible change, but we can merge into the `4.0-compatibility` branch and then release together with Hazelcast 4.0.

[2019-06-14 08:23] crashodd commented on #153
Awesome!

Thank you very much for the quick response!

Keep it up guys!!!

[2019-06-19 12:59] leszko opened #155 "Log info about the ZONE in case of ZONE_AWARE"

[2019-06-24 11:49] #143 closed

[2019-06-26 11:22] leszko commented on #118
I actually re-tested Hazelcast on Istio (1.1.0) and it apparently it works fine (even without any need of the MESH_INTERNAL or MESH_EXTERNAL configuration). So, it might have been my environment (I either had old `istioctl` installed or not enough resources on the k8 cluster).

Closing it for now. Feel free to reopen if there are any issues with how Hazelcast works with Istio >= 1.1.0.

[2019-06-26 11:22] #118 closed

[2019-07-05 09:56] enozcan opened #157 "Vulnerability in v1.5.1"
Vulnerability warning raises during dependency check using OWASP. The severity is 8,.. out of 10. OWASP report and pom.xml contents are below:

[code]

[code]

[2019-07-08 09:17] hasancelik commented on #157
To see failure messages, plugin part should be updated:

[code]

[2019-07-08 09:31] hasancelik commented on #157
It seems above vulnerability is already fixed by https://github.com/hazelcast/hazelcast/pull/12230

https://nvd.nist.gov/vuln/detail/CVE-2016-10750#VulnChangeHistorySection

closing this issue...

Thanks for your report @enozcan 👍

[2019-07-08 09:31] #157 closed

[2019-07-12 05:30] akeauto10260 opened #158 "how to set service account"
2019-07-12T12:13:46,120|main||||ERROR|StandardLoggerFactory$StandardLogger.log,49| Kubernetes API forbidden access, please check that your Service Account have the correct (Cluster) Role rules
2019-07-12T12:13:46,228|main||||ERROR|StandardLoggerFactory$StandardLogger.log,49| Kubernetes API forbidden access, please check that your Service Account have the correct (Cluster) Role rules
2019-07-12T12:

[2019-07-12 07:55] hasancelik commented on #158
Hi @akeauto10260,

Which roles assigned/bound to your service account?

You can find necessary permissions at [sample rbac.yaml file at README](https://github.com/hazelcast/hazelcast-kubernetes#granting-permissions-to-use-kubernetes-api).

[2019-07-12 08:13] akeauto10260 commented on #158
thanks @hasancelik
this is my rbac.yaml
----------------------------------------------------------------------
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: default-cluster
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: default
  namespace: default

[2019-07-12 08:16] akeauto10260 commented on #158
@hasancelik this my hazelcast config in springboot configuration file
------------------------------------------
@Bean
	public Config hazelCastConfig() {
		LOGGER.info("============================================================================START hazelCastConfig");
		Config config = new Config();
		config.setInstanceName("hazelcast-instance")
				.addMapConfig(
						new MapConfig()
								.s

[2019-07-12 08:43] leszko commented on #158
@akeauto10260 Could you double check that you applied your `rbac.yaml` with `kubectl apply -f rbac.yaml`?

If yes, then please double check that you use the `default` service account when you deploy your application.

Also, you can see the Code Sample with embedded Hazelcast and all the steps [here](https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/sa

[2019-07-12 09:34] akeauto10260 commented on #158
thanks @leszko
now i have
kubectl  get serviceaccounts
NAME      SECRETS   AGE
default   1         119d

[2019-07-17 03:10] akeauto10260 commented on #158
thanks @leszko , @hasancelik
finally i already found pods network in kubernetes config
and i do follow issues #132
now i can already join hazelcast network.
![image](https://user-images.githubusercontent.com/52812500/61344309-03d14180-a87b-11e9-8f52-1723476e2889.png)

[2019-07-17 03:10] #158 closed

[2019-07-17 06:52] leszko commented on #158
Good to hear that!

[2019-07-23 12:19] henrikarro commented on #129
I'm currently using `service-label-name` and `service-label-value` to mark the "service-per-pod" services that are used by the Hazelcast clients outside the Kubernetes cluster to connect to Hazelcast.

Is there another way of doing this without using these properties?

[2019-07-26 07:19] leszko commented on #129
@henrikarro Thanks for the comment.
At the same time we plan to introduce this: https://github.com/hazelcast/hazelcast-kubernetes/issues/115

Would this solve your issue if you label all the pods for your cluster?
If not, please describe your use case scenario. We may still consider keeping these parameters.

Actually the reason I'd like to have them removed is that they're confusing. People label

[2019-07-26 07:55] henrikarro commented on #115
Maybe I'm missing something, but I think we still need a way to support smart clients outside the Kubernetes cluster, and for this use-case, `service-label-name` and `service-label-value` are perfect.

If you have Hazelcast embedded in a server, you will have other services in the same pod, not just Hazelcast, so it seems to me you need a way to tell the Hazelcast client which services to connect

[2019-07-29 14:02] leszko commented on #115
@henrikarro , would it change anything for you if you label Pods which contain Hazelcast instead of the services? That's I'm  trying to understand.

Because to me, labeling Pods should cover all use cases and is more straightforward. You label Pods and you discover Pods, so may not even create a service if not needed.

[2019-07-30 06:38] henrikarro commented on #115
@leszko: I'm working on a system where we have server PODs that both publish an API (let's say on port 8080) and also give access to an embedded Hazelcast cluster (let's say on port 5701). We have clients outside the Kubernetes cluster that need to access both the API and Hazelcast. To enable Hazelcast "smart clients", we create a NodePort service-per-pod to let the clients access any of the Hazel

[2019-07-30 07:13] leszko commented on #115
@henrikarro I see your use case. You could still label PODs with Hazelcast (and your application). However, I understand you may not want to to add a Hazelcast-specific label to the POD which contains the application.

Ok, let's keep both Service Label and Pod Label.

[2019-07-30 07:14] leszko commented on #129
Closing (as discussed in #115).

[2019-07-30 07:14] #129 closed

[2019-07-30 13:39] bitsofinfo commented on #115
Yes, please add the option for pods, and keep the existing method for services

[2019-07-30 15:51] jakubigla opened #160 "Istio with mTLS"
I have a K8s cluster with Istio (1.2.2) that has mTLS enabled. I'm using headless service for communication.

Unfortunately it doesn't work. My java service is throwing this (which btw shows correct pod IPs):

[code]

and istio-proxy container is showing this:
`[2019-07-30T15:43:10.731Z] "- - -" 0 UF,URX "-" "-" 0 0 4 - "-" "-" "-" "-" "10.252.0.103:5701" outbound|5701||hazelcast.some-namespace.sv

[2019-08-02 14:34] bitsofinfo opened #161 "1.5.1: Cluster never forming"
Running 1.5.1

My cluster is never forming, no node is joining itself and this process is just going on forever

All nodes can see each other as reported by `LowestAddressJoinDecider`. All the logged "discovered" IPs/ports are correct. The plugin appears to be talking to the k8s master fine AND getting back the correct list of pods/ips given my configured selectors.

From inside each pod/container

[2019-08-02 15:04] bitsofinfo commented on #161
So this seems to be a bug to me:

1. I have 6 pods, all have the same pod labels referenced by `hazelcast-kubernetes` for its `pod-label-selector`, but only 4 of those pods run akka (2552/8552)

2. I have `required-contact-point-nr: 1`

3. All 6 node's IPs are properly discovered by `kubernetes-api` via the k8s master

4. 4 of the node nodes respond fine to `http://podip:8552/bootstrap/seed-nodes`

[2019-08-05 15:13] jakubigla commented on #160
I have spotted that the other instance responds with:

`INFO 1 --- [.IO.thread-in-0] com.hazelcast.nio.tcp.TcpIpConnection    : [10.252.0.12]:5701 [dev] [3.11.1] Connection[id=31, /10.252.0.12:5701->/10.252.0.41:48746, endpoint=null, alive=false, type=NONE] closed. Reason: Memcached or SSL not enabled`

[2019-08-07 12:28] veerasamyn opened #162 "Question regarding DNS Look Up in 1.5.1"
We are using the hazelcast as embedded in our application and using DNS Look up to discover members. The discovery takes more than 5 minutes for the pods(both first and second started one by one) and it retries.

Do we have retry logic in place for DNS Look up? because I couldn't find that logic in DnsEndpointResolver

Is that something we are missing in our configuration?

Please let me know if y

[2019-08-07 12:41] leszko commented on #162
@veerasamyn , Could you include the full stacktrace? I mean that it retries a few times and then should print the whole exception stracktrace.

[2019-08-07 12:53] veerasamyn commented on #162
@leszko There is no stacktrace in the logs and Is that retry applicable for DNS Look up too?

[2019-08-07 12:55] leszko commented on #162
Hmm, that's actually weird that you just see this one warning message. And it's even more weird that it takes 5 min to start members. Could I ask you to add all the configuration:
- Kubernetes yaml configuration files
- hazelcast configuration

[2019-08-07 13:01] veerasamyn commented on #162
I do see three warning messages,

`
WARNING: Couldn't discover Hazelcast members using Kubernetes API, [3] retrying in 3 seconds...
`

[2019-08-07 13:05] veerasamyn commented on #162
`{

        Config cfg = new Config();
        cfg.getNetworkConfig().getJoin().getMulticastConfig().setEnabled(false);

        boolean k8sDeployment = configuration.getBoolean(HAZELCAST_CACHE_K8_MODE, false);
        if (k8sDeployment) {
            logger.info("hazelcast - kubernetes config");

            //Kubernetes Service Discovery
            cfg.getNetworkConfig().getJoin().getKubernetes

[2019-08-07 13:07] veerasamyn commented on #162
@leszko please let me know if you need more details

[2019-08-07 13:16] leszko commented on #162
ok, when I find a moment I'll look into that.

[2019-08-08 02:17] veerasamyn commented on #162
`
INFO: [10.153.72.187]:5701 [dev] [3.12.1] Kubernetes Discovery properties: { service-dns: <actual_k8_dns_service_name>, service-dns-timeout: 5, service-name: null, service-port: 0, service-label: null, service-label-value: true, namespace: default, resolve-not-ready-addresses: false, use-node-name-as-external-address: false, kubernetes-api-retries: 3, kubernetes-master: https://kubernetes.defaul

[2019-08-08 02:49] veerasamyn commented on #162
I am not sure why do we need to initialize the client for the DNS look up and when the **discoverLocalMetadata** would be invoked from the framework which is using the client.zone
https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java#L44

https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/j

[2019-08-09 14:04] safvankothawala opened #163 "Hazelcast Cluster Client registration does not work when global.outboundTrafficPolicy.mode is set to REGISTRY_ONLY"
I am using Istio version 1.2.
In order to enable egress in Istio, I have set value of "global.outboundTrafficPolicy.mode" to REGISTRY_ONLY.
Post this policy change, my Hazelcast clients are unable to connect to the Hazelcast cluster.
I am getting IOException: Broken Pipe error.
However, the Members are able to connect in a cluster.

Following is the snippet of hazelcast-client.xml
[code]

Followin

[2019-08-29 18:55] zdehz opened #164 "Kubernetes API calls are running in DNS Lookup mode"
When using **DNS Lookup** mode I see below logs. **Kubernetes API** calls are still effective in DNS Lookup mode and repeat 3 times based on `kubernetes-api-retries` default value.

[code]

[2019-09-03 12:30] bbks101 opened #165 "NotLeaderException | CPMember is not LEADER of CPGroupId."
Getting below issue, While running CP subsystem of hazel cast at kubernetes, Below issue is coming.

[hz._hzInstance_1_sss-hazelcast-qa.response-0] WARN [operationservice.impl.Invocation] [] - [10.244.5.70]:5701 [sss-hazelcast-qa] [3.12] Retrying invocation: Invocation{op=com.hazelcast.cp.internal.operation.DefaultRaftReplicateOp{serviceName='hz:core:raft', identityHash=1106300649, partitionId=81,

[2019-09-10 20:51] seenimurugan opened #166 "Configuring service-dns fails when installed from helm chart"
When run the Hazelcast server using helm chart with service-dns value configured fails with the following error

Caused by: com.hazelcast.config.InvalidConfigurationException: Properties 'service-dns' and ('service-name' or 'service-label-name') cannot be defined at the same time

I override the config properties from the parent chart as follows

[code]
I tried overriding the service-name property

[2019-09-10 21:33] mesutcelik commented on #166
I tried the same and it does not work. However, when I fetched the helm chart and modified locally, `helm install .` creates correct ConfigMap.

[2019-09-10 21:45] mesutcelik commented on #166
closing. duplicate of https://github.com/hazelcast/charts/issues/58

[2019-09-10 21:45] #166 closed

[2019-09-30 12:58] #115 closed

[2019-09-30 13:05] leszko commented on #141
Closing due to inactivity. Feel free to reopen if needed.

[2019-09-30 13:05] #141 closed

[2019-10-01 18:44] sanssucre opened #174 "Failure to trust OpenShift Master API certificates"
In CodeReady Containers AKA OpenShift 4.1 (single node dev instance) there seems to be a problem with the certificate chain.  A similar issue related to elastic can be found here: https://access.redhat.com/solutions/3921041.
The kubernetes api call fails on startup with the following stack trace:
com.hazelcast.kubernetes.RestClientException: Failure in executing REST call
	at com.hazelcast.kuberne

[2019-10-02 06:46] leszko commented on #174
Is the issue related to Hazelcast? From the link you sent it seems the resolution is on the OpenShift side.

[code]

[2019-10-02 11:03] #149 closed

[2019-10-02 12:22] #164 closed

[2019-10-02 12:22] #155 closed

[2019-10-02 14:53] sanssucre commented on #174
If i understand it well, the environment variable works because elastic uses a Kubernetes client lib (https://github.com/kubernetes-client/java?) that behaves differently when this environment variable is present.  It makes sense that it's something that happens on the client side since it's the client that refuses to accept the certificate.

[2019-10-04 13:28] hasancelik commented on #115
@bitsofinfo @henrikarro With [1.5.2](https://github.com/hazelcast/hazelcast-kubernetes/releases/tag/v1.5.2) release, the discovery plugin can discover Hazelcast members via pod labels.

Thanks for your feedbacks and thoughts.

[2019-10-08 01:08] mesutcelik commented on #174
`KUBERNETES_TRUST_CERTIFICATES` is a feature provided by [Fabric8 Kubernetes Client](https://github.com/fabric8io/kubernetes-client)

[Hazelcast RestClient](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/RestClient.java) does not have such a feature to enable [HostnameVerifier](https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/HostnameVer

[2019-10-08 12:54] sanssucre commented on #174
Thanks for that.  I understand that you might not want to add this to the code base but since it's easy enough to do outside i guess it's no big deal.  And agreed not in prod :)

[2019-10-08 12:54] #174 closed

[2019-10-27 15:38] mesutcelik commented on #160
Hi @jakubigla ,
[TLS/SSL Support is provided via Hazelcast Enterprise.](https://docs.hazelcast.org/docs/3.12.3/manual/html-single/#tlsssl)

[2019-11-06 12:51] ChangSurrey opened #177 "Cannot fetch services dedicated to the following PODs"
I'm using v1.5.2 of the plugin and hazelcast v3.12.3.

I have 2 pods (same namespace) that are created through a StatefulSet, and they're configured to use the following to discover hazelcast member:

[code]

Output of `kubectl -n test-namespace get endpoints`
[code]

Output of `kubectl -n test-namespace get pods -o wide`
[code]

Output of `kubectl -n test-namespace get svc`
[code]

Service defini

[2019-11-06 13:20] leszko commented on #177
Do you try to configure Hazelcast [to use with the external client](https://github.com/hazelcast/hazelcast-kubernetes#outside-kubernetes-cluster)?

If yes, then one service must point to one POD, otherwise it's not properly exposed outside Kubernetes cluster.

If not, then this log is on the debug level and should not prevent your Hazelcast from working correctly. You can ignore it. It just means

[2019-11-06 14:12] ChangSurrey commented on #177
@leszko not really - all my pods are within an internal subnet which can only be reached through an ELB that points at the service.

Thanks for the explanation - yes I believe I can ignore them now.

[2019-11-06 14:12] #177 closed

[2019-11-08 15:40] yacut commented on #118
@leszko Unfortunately, hazelcast does not work with istio even with istio version 1.3.4
I used the same setup as @SmileSees  did: https://github.com/hazelcast/hazelcast-kubernetes/issues/118#issuecomment-443632542

and have this error:
[code]

[2019-11-08 15:46] mesutcelik commented on #118
Can you please give more info regarding your configuration?
Is this happening in the hazelcast member clustering part or when connecting via hazelcast client to hazelcast cluster?

I just recently tried it with Istio 1.3.3 and member discovery working fine.

[2019-11-08 16:42] yacut commented on #118
I have a statefulset, the first  pod starts well but the second one tries to connect to the cluster without success.

[2019-11-08 16:58] mesutcelik commented on #118
I had tried with auto sidecar injection enabled `kubectl label namespace default istio-injection=enabled` and `helm install stable/hazelcast` and  but it was istio 1.3.3 with those installation [instructions](https://istio.io/docs/setup/install/helm/#option-1-install-with-helm-via-helm-template). I will try with 1.3.4 release too and update here.

[2019-11-08 17:12] yacut commented on #118
I use hazelcast with payara in k8s discovery mode. Could it be a problem?

[2019-11-08 18:05] mesutcelik commented on #118
It shouldn't...

Is global mTLS enabled for your deployment?
https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls

What does that return?
`kubectl describe meshpolicy default`

[2019-11-08 19:09] yacut commented on #118
Yes, mTLS is enabled. In the destination rule is also enabled...

[code]

[2019-11-08 19:19] mesutcelik commented on #118
TLS/SSL is an enterprise feature of Hazelcast. That is why it does not work for you.
https://docs.hazelcast.org/docs/3.12.4/manual/html-single/#tlsssl

If you change it permissive then you will most probably see Hazelcast members will discover each other
[code]

[2019-11-08 22:39] yacut commented on #118
I don't unterstand  what this has to do with the hazelcast tls feature? Istio Proxy should do tls encryption, not hazelcast itself. This is one of the main advantages of istio.

[2019-11-09 10:58] yacut commented on #118
cc @mesutcelik
related to https://github.com/hazelcast/hazelcast-kubernetes/issues/160

[2019-11-11 08:36] ChangSurrey opened #178 "Cluster does not form until 5 minutes later"
I'm deploying a number of pods in AWS EKS containing hazelcast services, and they are being deployed as `StatefulSet` replicas in a `Parallel` manner, i.e., all of them are started at the same time.

Most of the times, they are able to discover each other and form a cluster straight away after starting up, so the config and setup are working correctly.

However, what I have observed is that in som

[2019-11-11 11:00] ChangSurrey commented on #178
Here's extract from an example log file:

Server 1:
[code]

Server 2:
[code]

[2019-11-11 11:59] mesutcelik commented on #178
Hi @ChangSurrey
Can you please send hazelcast configuration? Are you using DNS mode (service-dns) or API mode (service-name)?

`hazelcast.merge.first.run.delay.seconds` is by default 5 minutes and if they can't form the cluster in the first attempt, members waits that much and send join requests again.

[2019-11-11 12:04] ChangSurrey commented on #178
Hi @mesutcelik

I'm using service name for discovery.

The configuration is as follows:

[code]

Is there any way to configure this behaviour?

[2019-11-11 20:34] mesutcelik commented on #178
Have you tried to set that parameter true?
`resolve-not-ready-addresses`

https://github.com/hazelcast/hazelcast-kubernetes/blob/master/README.md#kubernetes-api

[2019-11-12 22:27] mesutcelik commented on #118
Thanks @yacut , I am checking with @kwart and will update the issue.

[2019-11-13 20:32] mesutcelik commented on #118
Can you give a try to this? AFAIS, mTLS does not work for Hazelcast with `ClusterIP` but with headless mode only.

I tested with `1.14.8-gke.12` on GKE and Istio version 1.3.4

You can inject manually
`istioctl kube-inject -f hazelcast-statefulset-headless.yaml |kubectl apply -f -`

or enable autoinject
[code]

hazelcast-statefulset-headless.yaml
[code]

[2019-11-14 12:03] mesutcelik commented on #178
Do you have any update @ChangSurrey ?

[2019-11-14 12:34] ChangSurrey commented on #178
@mesutcelik sorry for the late reply - I've decided to reduce the 2 parameters above and that seems to have worked.

[2019-11-14 12:34] #178 closed

[2019-11-14 22:22] yacut commented on #118
@mesutcelik @kwart Thank you for the solution. I was able to start hazelcast cluster and make sure it works with Istio mTLS.
Unfortunately, payara micro doesn't work with the same setup. Maybe the default hazelcast settings for payara micro are different from the standard hazelcast?

Here is my setup:
[code]

Could you give me a clue?

[2019-11-14 23:00] mesutcelik commented on #118
Did you try passing `payara-micro-headless` as a service-name in hazelcast configuration? I think you need to check payara how to configure Hazelcast as it is embedded inside the payara-micro

[2019-11-15 08:37] yacut commented on #118
Yes, I tried it also. It works:
[code]
With is than payara micro issue. The official payara documentation says, if the `--hzconfigfile` flag is used then the default settings will be set to hazelcast defaults: https://docs.payara.fish/documentation/payara-server/hazelcast/configuration.html

@mesutcelik Thank you

[2019-11-16 05:28] mesutcelik commented on #160
I tested with `1.14.8-gke.12` on GKE and Istio version 1.3.4 with mTLS enabled and apparently it works with Hazelcast OSS.
Deployment configs can be found in this comment.
https://github.com/hazelcast/hazelcast-kubernetes/issues/118#issuecomment-553588983

[2019-11-16 05:28] #160 closed

[2019-11-21 07:15] matthjes opened #179 "DNS lookup error: name not found"
We are using the DNS lookup method for pod discovery, however, when we start a pod we get the following warnings:
[code]
I guess from the error message that the `service-dns` name (`blocs-service-dns.svc-example.svc.cluster.local`) could not be resolved.

The service is present:
[code]

Here is the service description:
[code]

The 'service-dns' property is configured to be `blocs-service-dns.svc-e

[2019-11-21 10:31] leszko commented on #179
Most probably the reason is that the discovery mechanism starts before the k8 service is created and DNS records are set. It means that you may see this warning for a moment, but it should not do any harm.

[2019-11-21 13:07] matthjes commented on #179
This seems to be the case. The warnings also came up in the two-replica-scenario where each pod first created its own cluster. After about a minute a merge took place between both pods / clusters.

Thanks for clarifying this!

[2019-11-21 13:07] #179 closed

[2019-12-11 19:11] mesutcelik opened #181 "Kubernetes Discovery is not working in Quarkus"
This guide works fine with Docker Images generated from Quarkus Jar file.
https://github.com/hazelcast-guides/hazelcast-quarkus-kubernetes

However, if you build Docker image from Native Image then you get an Exception.

**How to create Docker Image**
[code]

If you use `hazelcast-quarkus-kubernetes-native` in [here](https://github.com/hazelcast-guides/hazelcast-quarkus-kubernetes/blob/master/haze

[2019-12-11 20:52] mesutcelik commented on #181
I am going to try to setup [reflection-config.json](https://github.com/hazelcast-guides/hazelcast-quarkus-kubernetes/blob/master/src/main/resources/reflection-config.json) but hit some quarkus problem.
related issue https://github.com/quarkusio/quarkus/issues/6123

[2019-12-20 09:12] leszko commented on #62
@dacleyra , the JMX metrics Prometheus agent is already [included in the Hazelcast Docker image](https://github.com/hazelcast/hazelcast-docker/blob/master/hazelcast-oss/jmx_agent_config.yaml).

Also, @mesutcelik recently wrote a [blog post about Hazelcast Horizontal Pod Autoscaling](https://hazelcast.com/blog/autoscaling-with-horizontal-pod-autoscaler/).

Do you think we can close this issue now?

[2019-12-20 09:29] leszko commented on #152
Currently the behavior was changed and it [retries 3 times](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/KubernetesProperties.java#L115), then logs [SEVERE error with the stacktrace](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java#L502).

@bitsofinfo, is it good enough

[2019-12-20 09:36] leszko commented on #153
Fixed by #172

[2019-12-20 09:36] #153 closed

[2019-12-20 09:46] leszko opened #182 "Add `hostPort` for external smart client"
Currently, when we suggest [how to configure External Smart Client](https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/external-client), we suggest creating a service per Pod (with Metacontroller).

The other option would be to use `hostPort`, we can add this option to the `hazelcast-kubernetes` plugin.

[2019-12-20 14:25] bitsofinfo commented on #152
and that property is configurable by the operator?

[2019-12-20 14:26] bitsofinfo commented on #152
i.e. the number of retries

[2019-12-20 14:32] leszko commented on #152
yes, you can configure it, even set to 0.

[2019-12-20 14:32] bitsofinfo commented on #152
great then this solves it, thanks

[2019-12-20 14:32] #152 closed

[2020-01-06 16:02] dacleyra commented on #62
Yes, it can be closed, thank you.

[2020-01-07 07:24] #62 closed

[2020-01-07 13:18] neilstevenson opened #185 "False warnings about service missing"
On `com.hazelcast:hazelcast:4.0-SNAPSHOT` with `com.hazelcast:hazelcast-kubernetes:2.0`
if a stateful set and a service are created in the same YAML, false warnings appear about the service

[code]

This seems to be a race condition, the service is still being created. The 2nd pod finds it.

If we suppress this warning, we hide real problems finding the service name.

Also, if the DNS lookup fails

[2020-01-10 04:24] cyj5230 opened #186 "Get exception "Unknown protocol: HTT" when using hazelcast-hibernate with hazelcast-kubernetes"
I used https://github.com/Cepr0/sb-hazelcast-hibernate-l2c-demo as reference, which works well, but when I added hazelcast-kubenetes by [this guide](https://hazelcast.com/blog/how-to-use-embedded-hazelcast-on-kubernetes/), I get following exception and cannot run the pod.
full-log: [log.txt](https://github.com/hazelcast/hazelcast-kubernetes/files/4044333/log-2.txt)

[code]

Here are my configs (sl

[2020-01-10 09:17] cyj5230 commented on #186
Solved.
Should set `service-name` if there are other services in the same namespace.

[2020-01-10 09:17] #186 closed

[2020-01-11 13:10] hasancelik commented on #182
Smart clients need to be connected to all members at cluster but as you also mentioned at related [TDD](https://hazelcast.atlassian.net/wiki/spaces/PM/pages/1152450849/Enable+external+Smart+Client+for+Kubernetes+Cluster+Technical+Design+Document), `hostPort` is not suitable for it:

At kubernetes side, still there is no dynamic configuration for `hostPort`(range or random) as far as I can see. Wha

[2020-01-13 08:14] leszko commented on #182
Yeah, it's not possible to do it dynamically. But you could do what we actually do in case of Hazelcast Cloud and set up the static `hostPort` (there is even an option for that in our Helm Chart). Then, you're limited to the having max 1 Hazelcast POD per 1 Kubernetes Node (because the host port is status), but it may be good enough for some cases.

This GH issue is just to give the possibility of

[2020-01-15 09:43] Freebios opened #187 "Non recovering split brain after pod reschedule"
**Describe the bug**
If for some reason an hazelcast member get rescheduled, it will sometimes get stuck outside of the existing cluster forever. Looks like IP subnetwork not matching and it causes recovery to fail, even if using service discovery mode.

**Expected behavior**
The cluster should reconstruct after a pod reschedule

**To Reproduce**

~~Follow instructions provided by this repo to set

[2020-01-15 10:30] leszko commented on #187
Thanks @Freebios  for raising up the issue.

Two questions:
1. Does it only happen when you enable CP Subsystem?
[code]
2. So if you use DNS Discovery Mode (instead of Kubernetes API Discovery Mode), you don't experience the same issue, right?

[2020-01-15 12:02] Freebios commented on #187
Looks like my reproduce steps are wrong, I can get the same behavior again, my assumption about different subnet is also wrong, I currently have cluster running on different subnets.

Last time I had this issue I tried deleting the pods left outside of the cluster (and let k8s schedule a new one), but without success, and right now I can delete pods and the cluster recover without any problem.

So

[2020-01-15 12:41] leszko commented on #187
Ok, please check. I'm actually pretty sure the DNS vs Kubernetes Discovery Mode won't matter. However, they may be something wrong with changing IP and CP Subsystem.

Thanks!

[2020-01-15 20:30] ramaganapa opened #188 "Question: on dns resolution"
Using DNS lookup with hazelcast 3.12.5 it is not able to resolve DNS unless FQDN is provided
eg: hazelcast-service.my-namespace.svc.local - works but not hazelcast-service.my-namespace.svc

Using the later worked fine with 3.10.5

The reason to leave out kubernetes domain is because we have different kubernetes clusters which don't have same domain name.

Just curious to know if this is expected b

[2020-01-16 08:04] Freebios commented on #187
I think a narrowed it down, and I feel pretty stupid now.
I'm use to reboot my infrastructure by deleting everything and restarting everything (probably a bad habit), problem is that I was using the same clusterRole for my dev & staging environment.

I fall into an edge case where sometimes, the clusterRole was inexistant due to a reboot somewhere else, or just shutting down my whole environment,

[2020-01-16 08:04] #187 closed

[2020-01-16 08:06] leszko commented on #187
Happy that you solved it!

[2020-01-20 09:16] leszko commented on #188
Yes, that's the current expected behavior. You can check it here: https://github.com/hazelcast/hazelcast-kubernetes#hazelcast-configuration-1

The reason why it worked before as you mention is that we used a library for the DNS resolution and it probably covered that case. Now, we moved to the zero dependency approach, so we support only FQDN.

If you think, the other DNS service names might be us

[2020-01-20 14:27] pivovarit commented on #181
The discovery strategy relies on the Java SPI which requires some extra care beyond just registering it for reflection

I solved it in the extension using Quarkus-provided tools: https://github.com/pivovarit/quarkus-hazelcast-client-extension/pull/97

[2020-01-20 14:33] pivovarit commented on #181
This is how Quarkus does it internally: https://github.com/quarkusio/quarkus/blob/8e20d02f9059fae2325aa218d49f0fb8a16af64b/core/deployment/src/main/java/io/quarkus/deployment/steps/NativeImageAutoFeatureStep.java#L195-L228

[2020-01-20 16:55] pivovarit commented on #181
Kubernetes API is accessible only using HTTPS which means, SSL support needs to be enabled and properly configured (`java.library.path` and `javax.net.ssl.trustStore` parameters)

For example:
[code]

[2020-01-21 15:44] ramaganapa commented on #188
Thank you replying. It's good to have but not must have.

[2020-01-21 15:44] #188 closed

[2020-01-22 11:47] yyoussouf opened #189 "Outside Kubernetes Cluster : unknown properties use-public-ip, ca-certificate"
Hi,

I tried to follow your instructions to connect to a hazelcast server installed on kubernetes from a client outside of it.
The server works, I can connect inside the kubernetes cluster.
When I configure the java client which is outside kubernetes with this configuration inspired by  the readme file (I tried with xml configuration and programmatically in java, both failed the same way) :
[code]

[2020-01-22 12:32] leszko commented on #189
@yyoussouf , which hazelcast version do you use for the client? `hazelcast-all:3.12.5`?

You can also try following this code sample: https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kubernetes/samples/external-client

[2020-01-22 14:11] yyoussouf commented on #189
I checked my dependencies version after reading your comment and it was my hazelcast-kubernetes version  which was bad, thanks a lot

[2020-01-22 14:12] #189 closed

[2020-02-03 21:03] kubedevops commented on #111
I know this is an old topic. I have been struggling with the same exact issue for the past week.

I have tried different configs to no avail.

One of the issues I am having is that when I mount `hazelcast-kubernetes.jar` to `$ORIENTDB_HOME/plugins/hazelcast-kubernetes.jar` I am getting the following error

[code]

Can you please advise how you overcame this. Also, if you can please show your curre

[2020-02-04 08:19] leszko commented on #111
This error does not look like coming from Hazelcast. I'm not sure what 'plugin.json` is, but it does not look like Hazelcast specific.

The `hazelcast.xml` is actually listed in the beginning of this GH Issue. To quote it here as well:

[code]

You can also use shorter form, check https://github.com/hazelcast/hazelcast-kubernetes for details.

[2020-02-04 14:47] leszko commented on #162
@veerasamyn , does the issue persist in `hazelcast-kubernetes:1.5.3`? If yes, then could you check if [this PR](https://github.com/hazelcast/hazelcast-kubernetes/pull/192) fixes it? If not, then could you write the exact steps to reproduce, then I'll check.

[2020-02-04 14:50] leszko commented on #161
What is this `akka.discovery.kubernetes.KubernetesApiServiceDiscovery` class? Could you write the steps to reproduce without any frameworks? That would make the issue simpler to analyze.

[2020-02-04 20:05] kubedevops commented on #111
I was able to get it working, however, I used `$ORIENTDB_HOME/lib` instead of `$ORIENTDB_HOME/plugins`

Additionally, my hazelcast.xml config is slightly different from the one posted here.

I had to change discovery strategies and use service-name, namespaces and kubernetes-master property names.

Please see below.

[code]

All is working now, I am able to scale the statefulset without issue and

[2020-02-04 20:14] kubedevops commented on #111
Also,

Note for other users who may encounter similar issues.

With OrientDB 2.2.x, you must upgrade hazelcast to 3.12.6+

`hazelscast-kubernetes.jar` will not work with the hazelcast version that comes with the 2.2.x branch of orientdb

[2020-02-06 13:36] bitsofinfo commented on #161
? what is it? its a class provided by akka... https://github.com/akka/akka-management/blob/master/discovery-kubernetes-api/src/main/resources/reference.conf#L10

[2020-02-11 07:24] fireplace009 opened #194 "DNS Lookup: namespaces ?"
I was wondering if it were possible to add namespaces to the configuration when working with dns lookup.

Situation:
I have two pods, working correctly.
When I wish to deploy a new version (rolling deployment), it will sync the new pods with the old pods and keeping the cache. However in this specific situation (new version) I would like the cache to be version specific, so the old pods work with

[2020-02-11 08:22] leszko commented on #194
@fireplace009 thanks for asking the question!

I'm not sure I understand correctly, especially this part.

If your PODs formed one cluster then they share all the data, so there is no "new cache" and "old cache". Could you clarify?

Wrt namespaces, you can specify the namespace, it's in the service-dns name: `SERVICE-NAME.NAMESPACE.svc.cluster.local`

[2020-02-11 09:16] fireplace009 commented on #194
Hey Leszko,
the service-dns name we use to make sure the pods find each other. that works perfectly.

I guess I'm asking if within the same cluster, there can be versions of the cache?
Where a pod is linked only to a specific version of that cache?

if you don't understand my usecase ... I'll try to explain it
Use-case
Deploying version 1 of our spring-boot application
Configure 2 pods. -> cache i

[2020-02-12 08:11] leszko commented on #194
I see, I think I understand now. So you'd like start new version of your application with a new and fresh cache and not connect to the old one.

I think you cannot change it at the level of the discovery, but what you probably can do is to set up the [cluster-name](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-full-example.yaml#L73) parameter each time t

[2020-02-12 11:28] fireplace009 commented on #194
Awesome ! that's what I was looking for.
Thanks for helping out.

[2020-02-12 11:28] #194 closed

[2020-02-17 09:11] saindavs opened #195 "service-dns issue, 2 kube pods are running independently and not joining/forming the hazelcast cluster"
I see an issue with service-dns configuration.

I have configured 2 pods which are running the hazelcast instance in kubernetes cluster.
when the pods are started running, they are creating 2 independent hazelcast clusters (1 per jvm) and they two (2 pods in this case) together not forming the hazelcast cluster.

Pod1 logs showed

Members {size:1, ver:1} [
	Member [15.67.7.134]:5701 - 6b335e92-8d8

[2020-02-17 09:23] mesutcelik commented on #195
Hi @saindavs ,

I assume you use `Deployment` instead of `StatefulSet`. It is normal for Hazelcast to start in split-brain mode as DNS records are not created when pods scheduled.

`hazelcast.merge.first.run.delay.seconds` defaults to 300 seconds so an option is to lower that. You can also use StatefulSet not to have that issue.

A similar issue can be found here. https://github.com/hazelcast/haze

[2020-02-17 10:32] saindavs commented on #195
Hi @mesutcelik ,
Thanks for your quick reply.
Yes, we are using Deployment(using helm charts).

Where can i set the hazelcast.merge.first.run.delay.seconds ? i mean to which class?

in com.hazelcast.config.Config class i don't see such property.

[2020-02-17 10:39] mesutcelik commented on #195
Those are the options to set System Properties.
https://docs.hazelcast.org/docs/latest/manual/html-single/#configuring-with-system-properties

If you are using helm charts, you might want to look at Hazelcast Official Helm Charts too.
https://github.com/hazelcast/charts

[2020-02-17 15:30] saindavs commented on #195
I have configured the hazelcast.merge.first.run.delay.seconds as below, but still getting the same issue

![image](https://user-images.githubusercontent.com/28921623/74666920-68b19900-51c8-11ea-8583-24beb73c3afb.png)

[2020-02-18 07:13] mesutcelik commented on #195
Based on your configuration, If members can't create the cluster in the first place, they will wait `400` seconds to send second join request . I guess you can try to set it to zero and see if it helps.

[2020-02-18 10:51] saindavs commented on #195
Hi @mesutcelik,
I have configured the hazelcast.merge.first.run.delay.seconds to 0. But, Still the members are not forming/joining the cluster. They have started independently.

What is the best way to fix this issue?

[2020-02-18 11:20] mesutcelik commented on #195
If you can create a reproducer with all configs and a sample app in a github repository then I can have a look.

[2020-02-18 12:07] saindavs commented on #195
The Below is the only one method i am interacting with hazelcast. Please take a look. if the below code is not enough i'll create a repo and share that with you.

 @Bean
  public IMap<String, GridBucketState> getCache() {

    com.hazelcast.config.Config config = new com.hazelcast.config.Config();
    config.getNetworkConfig().getJoin().getMulticastConfig().setEnabled(false);

    if (CollectionUt

[2020-02-18 13:01] mesutcelik commented on #195
I tried myself a basic dns based discovery in minikube. It works fine if you create headless service.
Can you try headless something similar?
[code]
Can you also post your hazelcast logs and your kubernates configs if headless does not work?

[2020-02-18 13:49] saindavs commented on #195
Hi @mesutcelik,

Thank you very much for your cooperation on this.
I have attached a log file when the hazelcast is started.
I have not configured anything on the pod configuration (deployment file)
Please let me know if you need anymore details
[app_logs.docx](https://github.com/hazelcast/hazelcast-kubernetes/files/4219544/app_logs.docx)

[2020-02-19 06:47] mesutcelik commented on #195
Can you please share how do you deploy? Without having this I can't help much. I assume you are not creating a headless service which returns SRV records of the hazelcast member pods.

[2020-02-19 08:41] saindavs commented on #195
Hi @mesutcelik,

I have attached the deployment config.

[deploy_config.docx](https://github.com/hazelcast/hazelcast-kubernetes/files/4223938/deploy_config.docx)

[2020-02-19 08:48] mesutcelik commented on #195
Can you create one additional headless service for discovery only? Something like below.

[code]

Additionally, `service-dns` value that you use in hazelcast config must match to the service name you give above.

[2020-02-19 08:53] saindavs commented on #195
Hi @mesutcelik,

Sure, i will do that, But can you please tell me why should i do that? Because when i start the pod, i see both pods have hazelcast instances, The only concern is they have not formed the cluster. Do you mean with the above service it will form the cluster?

[2020-02-19 09:06] mesutcelik commented on #195
You are having an issue with discovery. Individual members will start but they can't find each other. In DNS mode, you need to use headless service because that is the only way to discovery IP addresses of other members by querying SRV records of headless service dns.
https://github.com/hazelcast/hazelcast-kubernetes#dns-lookup

Your service definition has a Service description but it is not headl

[2020-02-26 15:23] ChangSurrey opened #196 "Warning log entries about ZONE_AWARE and cannot fetch public IPs"
I'm using v1.5.2 of the plugin with hazelcast v3.12.6.

I'm using the following settings in hazelcast.xml:
[code]

It's working fine for me, and the hazelcast cluster forms correctly.
However, I'm confused by the following 2 warning lines in the log.

[code]

I'm not exposing hazelcast outside the k8s cluster - the `hazelcast-primary` service is used internally only.

In this case, do I need to wo

[2020-02-27 13:20] mesutcelik commented on #196
No worries about those. They indicate that your kubernetes cluster nodes are not labeled with `failure-domain.kubernetes.io/zone` and your pods do not have public IPs.

I guess those can be converted into INFO. cc: @leszko

[2020-02-27 13:40] ChangSurrey commented on #196
Ok thanks for clarifying.

[2020-02-28 15:40] saindavs commented on #195
Hi @mesutcelik,

Instead of creating the hazelcast cluster over the application specific JVMs. is there any best way to have centralized hazelcast cluster running somewhere out side the application JVMs so that my application can connect to it and get the required from there.

Thank you.

[2020-02-28 15:51] mesutcelik commented on #195
You can use Client/Server topology to achieve what you want.

In your application JVM, you need to use hazelcast-client with hazelcast-kubernetes discovery.
You also need to deploy Hazelcast using helm chart or kubernetes operator.

https://github.com/hazelcast/hazelcast-operator
https://github.com/hazelcast/charts

[2020-03-10 20:21] mesutcelik commented on #195
I am closing this one. Please feel free to contact back if you have an issue.

[2020-03-10 20:21] #195 closed

[2020-03-11 07:31] sudipksaha commented on #111
Hi @leszko

I am working on same problem just wanted to know how i will create hazelscast-kubernetes.jar and if possible please provide me the steps

I have apache+dispatcher POD running behind the LB service we have to discover the POD through hazelcast ...above steps i did but my apache+disp POD renaming in containercreating state.

Let me know the steps what to do ?

[2020-03-11 08:34] leszko commented on #111
@sudipksaha , please find the answers inlined.

You can get it from Maven Central: https://mvnrepository.com/artifact/com.hazelcast/hazelcast-kubernetes. Keep in mind the versions compatibility described [here](https://github.com/hazelcast/hazelcast-kubernetes#requirements-and-recommendations).

I'm not sure I get it., which PODs are in container creating state? And what are the logs/describe?

[2020-03-11 08:46] sudipksaha commented on #111
@leszko

Scenario is  We have apache+disp POD replica which has local cache inside, we have another application which send a http request for cache invalidation ...currently when we are trying to send the request to LB it is forwarding the request only to one POD but we want to send the request to all the POD for cache invalidation.

so through hazelcast-kubenetes Plugin we are trying to achieve i

[2020-03-11 10:00] leszko commented on #196
Yeah, I think we can concert to `INFO`. Actually, we should read in `hazelcast-kubernetes` if ZONE_AWARE is enabled and print this log only if that's the case.

[2020-03-11 14:12] leszko commented on #162
Closing due to inactivity. Please reopen if needed.

[2020-03-11 14:12] #162 closed

[2020-03-13 08:51] leszko opened #197 "Treat empty string properties as null"
When empty string is passed as a property, it should be treated as null, not as a correct value.

The change should be implemented in [KubernetesConfig](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/KubernetesConfig.java).

Related to https://github.com/hazelcast/charts/issues/58

[2020-03-17 07:02] sudipksaha commented on #111
@leszko

Need your quick input on it how i will invoke hazelcast-kubernets.jar inside Apache+dispatcher and Varnish application as they doesn't require any jdk to run ...it run it's own httpd and varnish deamon

I was following the above steps but didn't get success. Please help me here it's urgent

[2020-03-17 08:06] leszko commented on #111
@sudipksaha , to be honest, I don't much about Apache+dispatcher, neither about Varnish. So, I can help you with `hazelcast-kubernetes`, but you need to extract this problem to the Java and Hazelcast itself.

[2020-03-18 11:36] pivovarit commented on #181
Besides the reason mentioned above, GraalVM requires some extra configuration for proper HTTPS support - the support is already provided in [our extension](http://github.com/hazelcast/quarkus-hazelcast-client/)

[2020-03-18 11:36] #181 closed

[2020-03-19 13:28] mesutcelik commented on #163
Hi @safvankothawala ,
Can you reproduce it with this sample?
https://github.com/hazelcast-guides/hazelcast-istio#hazelcast-client-server

[2020-03-26 11:49] davidkarlsen opened #198 "narrow the required role"
We run HZ in WLP for session replication, and are looking at running it in embedded mode. Hence there should not be a need for read to pods/endpoints outside of the target namespace - but the client seems to spit out error-messages if it does not get a `clusterrole: view` rolebinding. This seems as a bit wide as a default - especially when running in embedded mode.

Also when logging access errors

[2020-03-26 13:56] leszko commented on #198
@davidkarlsen , here's the minimal role you need: https://github.com/helm/charts/blob/master/stable/hazelcast/templates/role.yaml

If you don't use ZONE_AWARE feature, then you can use `Role` instead of `ClusterRole` and you don't need `- nodes` in `resources`.

Btw. let's keep this GH Issue open, because we should update README with these details. You may send a PR if you want.

[2020-04-02 12:43] leszko commented on #165
@bbks101 Does the issue still exist in Hazelcast 4.0?

[2020-04-03 17:06] monkey1016 opened #199 "Certificate Chain not Trusted on OpenShift"
I'm having a similar problem as the issue in #174 .
Starting up Hazelcast as an embedded application results in the following stacktrace:
[code]

However, if I were to use the following curl command:
`curl https://kubernetes.default.svc -v --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt`, the output shows that `curl` sees the CA as ok:

[code]
This is running on OpenShift using CodeR

[2020-04-03 18:08] mesutcelik commented on #199
This was fixed by #190 and it will be available in 3.12.7-all jar

In the meantime, you have two options.

1. Use hazelcast-3.12.6.jar and hazelcast-kubernetes-1.5.3.jar separately instead of hazelcast-all-3.12.6.jar
2.  Use hazelcast-all-4.0.jar directly

[2020-04-04 23:02] monkey1016 commented on #199
That worked! Thanks!

[2020-04-04 23:02] #199 closed

[2020-04-05 10:12] jawitcher commented on #197
Hi. Can I work on this issue?

[2020-04-05 20:13] leszko commented on #197
@jawitcher Sure, it's yours!

[2020-04-06 19:00] alimalek71 opened #200 "An issue with split-brain error on Kubernetes"
Hi,

I am using `spring boot 2.2.6.RELEASE` with `embedded` Hazelcast cache in `Kubernetes`.
I use `service-dns` for discovery strategy but I have a problem with the split-brain error.
I deploy my app with exactly 2 replicas, instances of my app start and each embedded Hazelcast works independently.

I set split-brain property `hazelcast.merge.first.run.delay.seconds=0`, in both pods logs there is

[2020-04-06 19:09] mesutcelik commented on #200
Hmm.. Maybe `hazelcast.merge.first.run.delay.seconds=0` is too low as it is run only startup time.
`hazelcast.merge.first.run.delay.seconds` can be given a higher value like a few seconds based on your environment.

`hazelcast.merge.next.run.delay.seconds` is another parameter you can experiment in case future split-brain detections.

Descriptions of paratemeters are listed here.
https://docs.haze

[2020-04-06 19:21] mesutcelik commented on #200
One optimization that can be here is to introduce a [retry](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/DnsEndpointResolver.java#L92) mechanism for SRV records.

@leszko What do you think?

[2020-04-06 19:28] alimalek71 commented on #200
Thanks for fast replay :pray:

I set it `0`, to start to find split-brain as soon a possible.
And by default, the other value is `120 seconds` which means 2 minutes, but now after 40 minutes, these instances couldn't merge together.

[2020-04-06 19:49] mesutcelik commented on #200
That is not normal. Can you create a reproducer and share with us?

[2020-04-06 19:57] alimalek71 commented on #200
I will create a git repo and share a sample code plus my k8s configs.

[2020-04-07 04:12] saindavs commented on #195
@mesutcelik,
Thank you So much for the above information. We are going to use client server topology and see how it will work.

Regard,
Sudhakar

[2020-04-07 05:51] leszko commented on #200
@alimalek71 I guess the problem is that both Pods start at the same time and headless service does not have the DNS configured yet.

To solve it, we [recommend](https://github.com/hazelcast/hazelcast-kubernetes#requirements-and-recommendations):
- using StatefulSet (then Pods do not start at the same time) or
- using [Kubernetes API](https://github.com/hazelcast/hazelcast-kubernetes#kubernetes-api

[2020-04-07 11:02] alimalek71 commented on #200
@leszko Yes exactly like you said it happens.

I will test both options.

[2020-04-10 14:06] jawitcher commented on #197
@leszko, could you check my PR https://github.com/hazelcast/hazelcast-kubernetes/pull/201?

[2020-04-10 14:59] leszko commented on #197
@jawitcher , you've sent it as DRAFT, is it ready to review?

[2020-04-11 07:23] jawitcher commented on #197
@leszko , yes, it is. I don't know if I understand the issue correctly, That's why I've send the pr as draft

[2020-04-14 09:53] leszko commented on #197
@jawitcher Thanks! Added my comments in the related PR.

[2020-04-16 07:49] leszko commented on #197
Fixed by #201

[2020-04-16 07:49] #197 closed

[2020-04-16 10:35] mesutcelik commented on #200
@alimalek71 Have you had a chance to look at it?

[2020-04-17 01:02] letanloc1998 commented on #186
Hi, could you explain how to set service-name. Thank you very much

[2020-04-17 07:15] leszko commented on #186
You can set it in the Hazelcast configuration in the Kubernetes section. Check this: https://github.com/hazelcast/hazelcast-kubernetes#hazelcast-configuration

[2020-05-09 16:00] ravindranathakila commented on #126
[code]

and only worked with:

[code]

[2020-05-19 14:24] gggarrido opened #203 "Could not connect to: /10.244.7.168:5701. Reason: SocketException[Operation timed out to address /10.244.7.168:5701] only in one of two namespaces"
I am trying to use an embedded hazelcast service on my microservices app deployed on kubernetes.
I am able to connect to pods of such instances in one namespace by using a ServiceAccount, ClusterRoleBinding and a Service, but in anotehr namespace that I have they try to connect but nothing happens.

IMPORTANT: I DONT WANT TO CONNECT PODS FROM DEV AND RELEASE NAMESPACES. IN EACH NAMESPACE I HAVE TW

[2020-05-20 06:19] leszko commented on #203
I see the issue was resolved here: https://stackoverflow.com/questions/61888377/kubernetes-hazelcast-error-synchronizing-only-in-one-namespace.

Closing. Please reopen if needed.

[2020-05-20 06:19] #203 closed

[2020-05-20 18:48] neilstevenson opened #204 "Documentation: External client failure on Minikube"
The documentation should clarify that external client cannot work on Minikube

Minikube is a likely starting point for many developers

See also https://github.com/hazelcast/hazelcast-code-samples/issues/422

[2020-05-20 18:55] neilstevenson commented on #204
Should also clarify WAN won't work for the same reason..

[2020-05-20 18:56] neilstevenson commented on #204
https://github.com/hazelcast/hazelcast-code-samples/issues/423

[2020-06-01 12:15] #204 closed

[2020-06-02 20:03] vegegoku commented on #108
I noticed that all samples are using same pod with replicas, which actually works and if i scale the pod i can see the other replicas joining the cluster, but my issue is that i have a two different pods and each is having its own cluster. @leszko what would you change in that example for 2 deployments to join the same cluster?!

[2020-06-03 07:05] leszko commented on #108
@vegegoku You can create a service (can be just `ClusterIP`) and then point both PODs in the service selector. Then, use the service name in the [Hazelcast Kubernetes configuration](https://github.com/hazelcast/hazelcast-kubernetes#kubernetes-api).

[2020-06-04 09:09] roeP opened #206 "Issue when scaling ms to more then one - vertx timeout"
Hi,

I've setup hazelcast API discovery:
`                 <discovery-strategies>
				<discovery-strategy enabled="true"
            			class="com.hazelcast.kubernetes.HazelcastKubernetesDiscoveryStrategy">
                	<properties>
                  		<property name="service-label-name">cluster01</property>
                	</properties>
            	</discovery-strategy>
			</discovery-strat

[2020-06-04 11:17] leszko commented on #206
@roeP Are you able to reproduce the issue with Hazelcast alone (without vert.x)?

[2020-06-04 11:26] roeP commented on #206
@leszko No, I'm afraid that I cant do it without breaking the code.
We currently running on docker swarm without ms scaling and i'm working on k8s migration so we are pretty deep with vert.x in our code..

[2020-06-09 11:34] andrey-gava opened #207 "java.lang.IllegalStateException: Unknown protocol: HTT"
We have java spring app,  with embedded hazelcast, and run it in Kubernetes.
For member lookup we using DNS Lookup Discovery mode.
All instances off hazelcast cluster starting well, and members find each other.
But every time when I scale deployment, or update docker image, we see a lot of warnings in logs like this:

2020-06-09 13:38:06.578  WARN 1 --- [.IO.thread-in-2] com.hazelcast.nio.tcp.TcpI

[2020-06-09 11:41] mesutcelik commented on #207
Hi @andrey-gava ,
How do you scale ? using `kubectl scale` or `helm upgrade` command?
What version of hazelcast are you trying to upgrade to?

[2020-06-09 11:48] andrey-gava commented on #207
Manualy from shell:
kubectl scale deployments.apps -n abc-2 abc-v2-dev-local --replicas=2

From Jenkins like this:
kubectl set image -n abc-2 deployment/$JOB_NAME  JOB_NAME=nexus.company.com/$JOB_NAME:$BUILD_NUMBER

I don't want to upgrade. Just try understand why this warning appears. Because its produce over 50 massages every time when I scale, and it garbage my technical logs when debugging.

[2020-06-10 12:44] pxsalehi opened #208 "Cannot set Hazelcast port with pod-label discovery"
I'm using pod-label-name/value to define HC pods that should form a cluster, as follows:
[code]

However, since I am not using the default HC port (5701), I am not able to override the port that the endpoint discovery uses to connect to other HC instance. If I define a `service-port` in the above config, I get error regarding validity of the config file:
[code]

I've tried using a service for disc

[2020-06-12 11:24] jerrinot opened #209 "Improve permission configuration experience"
I deployed a docker image to my GKS and I am getting this:
[code]

At this point I have to:
1. Go to IMDG reference manual: https://docs.hazelcast.org/docs/4.0.1/manual/html-single/index.html#kubernetes-cloud-discovery
2. Click at the link taking you to https://github.com/hazelcast/hazelcast-kubernetes
3. Find the section about permission configuration
4. Copy and paste the snippet and create a lo

[2020-06-14 10:05] jerrinot opened #210 "Terse explanation how to connect a smart client from outside a cluster"
The explanation at https://github.com/hazelcast/hazelcast-kubernetes#outside-kubernetes-cluster is fairly terse. It assumes a good knowledge of kuberentes and its concepts.

In fact we do have a better guide at https://hazelcast.com/blog/how-to-set-up-your-own-on-premises-hazelcast-on-kubernetes/

I think it would make sense to link it from the readme.

[2020-06-15 09:27] leszko commented on #208
I just tried, but could not reproduce it with the latest Hazelcast version. Could you please check the latest Hazelcast (it should actually be the same as `1.5.3`) and write here the steps to reproduce?

I tried the following Hazelcast configuration:
[code]

Here's the log, which looks correct.
[code]

[2020-06-15 09:52] leszko commented on #207
This issue is probably related to Hazelcast itself, not Kubernetes plugin, because we see it in some other scenarios, like this https://github.com/hazelcast/hazelcast/issues/15446

I was not able to reproduce it with just Hazelcast, I tried:
- Start Hazelcast cluster (3 members) with DNS Lookup discovery
- Scale down to 2 members
- Scale up to 3 members

No such logs.

@andrey-gava Would you be ab

[2020-06-15 13:23] leszko commented on #209
Sent a PR on that. It's hard to make it generic, but at least I've created something that works for `default` service account, for `default` namespace.

[2020-06-16 10:40] #209 closed

[2020-06-16 10:40] #210 closed

[2020-06-16 11:15] pxsalehi commented on #208
hmm. Now I can't reproduce it either! Maybe something else was wrong in my XML config. Thanks anyway. :-)

[2020-06-16 11:15] #208 closed

[2020-06-18 11:54] andrey-gava commented on #207
But you not 100% sure about it. Am I right?

From the point off k8s there no specific settings in deployment or service.
K8s v1.16.10
Network addon: docker.io/weaveworks/weave-kube:2.6.0
Java docker image bellsoft/liberica-openjdk-alpine:11.0.7-10
But we have another deployments in this k8s cluster that using same hazelcast version and same kubernetes plugin. And have no issue, like ours.  Maybe i

[2020-06-29 15:49] alimalek71 commented on #200
I apologize for the delay in replying.

Yes with changing to StatefulSet type the problem solved.

[2020-06-29 15:49] #200 closed

[2020-07-01 21:00] ralphbaur opened #213 "Hazelcast ServiceAccount"
Is there an option to configure Hazelast to use a custom ServieAccount? I mean not the default ServiceAccount named default in the default namespace? Let's assume my ServiceAccount has the name: myServicdeAc and is created in the namespace: myNameSp.

[2020-07-02 06:34] hasancelik commented on #213
Hi @ralphbaur,

You can use any ServiceAccount that has [required permissions](https://github.com/helm/charts/blob/master/stable/hazelcast/templates/role.yaml) from any namespace after you configured your Statefulset properly:
[code]

[2020-07-02 15:22] #213 closed

[2020-07-02 15:22] ralphbaur commented on #213
Thank you!

[2020-07-22 13:13] aaranke opened #216 "On-Premise Hazelcast on Kubernetes - Unisocket Client Approach - java.lang.IllegalStateException: Unable to connect to any address in the config"
I'm using the 'https://hazelcast.com/blog/how-to-set-up-your-own-on-premises-hazelcast-on-kubernetes/' 'UniSocket' approach to deploy the hazelcast cluster on local windows 10 machine using Docker Desktop which is Kubernetes enabled. Have used the rbac, config, hazelcast & hazelcast-volume YAML from this URL (https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/kub

[2020-07-22 14:03] leszko commented on #216
What are the addresses in your `hazelcastConfig`?

This does not look correct since Hazelcast Client tries to connect to `localhost/127.0.0.1:5701, localhost/127.0.0.1:5702, localhost/127.0.0.1:5703`, while your NodePort is deployed on the port `30887`.
Also you don't disable smart routing in any place. You need to add:
[code]

[2020-07-22 14:44] kennymacleod opened #217 "Improve diagnosic logging for RestClientException"
`RestClientException` is thrown by `RestClient` and caught and logged by `KubernetesClient`. While the exception message contains vital information such as the requested URI, this is only logged by `KubernetesClient` at `trace` level, which is never going to be enabled on anything resembling a production system. Otherwise, the only logging is a generic message about "auth failure" or "forbidden",

[2020-07-22 14:53] leszko commented on #217
@kennymacleod Would you like to send a PR with that change?

[2020-07-22 15:00] kennymacleod commented on #217
@leszko done!

[2020-07-22 16:21] aaranke commented on #216
The `'hazelcastConfig'` retrieves value from aplication YAML file, that have value as below.

[code]

Also now I have disabled the smartRouting as below..

[code]

[2020-07-22 19:04] kennymacleod opened #219 "Namespace is not read from serviceaccount/namespace as per docs"
In the project docs, the config property `namespace` is documented thus:

However, this isn't what actually happens. If none of the property or the environment variables mentioned are set, the namespace defaults to `default`. It never attempts to read from the `serviceaccount/namespace` file.

[2020-07-23 07:49] leszko commented on #217
Thanks! I'll review it soon.

[2020-07-23 07:51] leszko commented on #216
1. To me this log `[localhost/127.0.0.1:5701, localhost/127.0.0.1:5702, localhost/127.0.0.1:5703]` means that your YAML config is not read.

2. Also the port does not seem right, you should use your Node port instead of `5701`.

[2020-07-23 08:31] leszko commented on #219
I think the current version works correctly and we decided to not backport it since the change is not backwards-compatible. Please check #183.

[2020-07-23 08:36] kennymacleod commented on #219
You're quite right, it's already fixed on main branch. This does mean tha the documentation is only correct for the main branch, but that's a minor issue.

[2020-07-23 08:36] #219 closed

[2020-07-23 08:37] leszko commented on #219
yeah, the documentation is for the current version. You can check the old doc under the tags. For example, here: https://github.com/hazelcast/hazelcast-kubernetes/tree/v1.5.4

[2020-07-23 08:45] #217 closed

[2020-07-23 09:44] aaranke commented on #216
Have tried using the nodeport - `30887 `also, however no luck!

As mentioned earlier, I have removed the `hazelcast-client.yaml` file, as I am using Java based configuration -  `ClientConfig` Hope that is OK?

I have also tried using `'LoadBalancer'` approach as a try, but the still not able to connect.

Here's the output with 'LoadBalancer' approach...

[code]

Exception---

[code]

Please see be

[2020-07-27 14:14] aaranke commented on #216
Any update/further comment?

[2020-07-28 15:05] leszko commented on #216
I've checked the following steps are they work fine on Windows 10, Docker Dektop version 2.3.3.2 (46784).

1. Start Hazelcast cluster with Helm

[code]

2. Check the LoadBalancer address and port (it should be `localhost:5701`)

[code]

3. Use the following Java code to connect to the cluster and put some values.

[code]

Everything works fine. So, to investigate your issue, I recommend doing the

[2020-07-28 15:47] aaranke commented on #216
I thought you would share the anomalies/discrepancies in my code/configuration and hence it would work !

Docker desktop version I'm using is 2.3.0.4 (46911), Kubernetes version is v1.16.5

One thing that I noticed is, in the Java Code, you created `ClientConfig`, however you are not using the same while creating `HazelcastInstance` i.e. `HazelcastClient.newHazelcastClient();` Is that been done kn

[2020-07-29 07:39] leszko commented on #216
Sorry, my bad. I corrected the code above. Also, you'd better use `127.0.0.1:5701` instead of `localhost:5701`, since sometimes Hazelcast Connection Manager has issues while resolving DNS names.

Anyway, check out the code from my response above. It's correct now.

[2020-08-07 15:36] emillundstrm commented on #186
I also had this error, but for a different reason. I had forgotten to add

[code]

in my pod deployment. This apparently caused hazelcast-kubernetes to connect to the only other open port on the pod, which in my case was 8080, where a web application was being served.

Perhaps this will help someone along the line.

[2020-08-17 09:37] leszko commented on #216
@aaranke does it work for you now?

[2020-09-10 08:03] simbatsad opened #252 "hybrid hazelcast cluster"
we want to setup a hazelcast cluster inside kubernetes (embedded) . however another part of the same cluster  should be outside the kubcernetes cluster (embedded in services which are not inside the kubernetes cluster).
is there an option to do so?
what are our options? (we use the community version)

[2020-09-10 08:42] leszko commented on #252
I'd suggest keeping Hazelcast cluster either inside or outside Kubernetes. So, if you need Hazelcast members outside Kubernetes cluster, then just use Hazelcast client with the static configuration in your application (instead of embedded Hazelcast).

If you really need to have a Hazelcast cluster, then the option is to use just a static configuration. The members inside Kubernetes cluster should

[2020-09-10 09:26] simbatsad commented on #252
@leszko ,thanks, I understand this suggestion (this is our fallback).
but assuming I want to try the full cluster appraoch: If I create a loadbalancer IP per POD instance in kubernetes. then I can put in <members> (inside and outside) these IPs and use TCP discovery? (my fear is that the internal POds will expose their internal addresses using the discovery and also will not identify themselves as

[2020-09-10 11:46] simbatsad commented on #252
another question (related). @leszko , in https://github.com/hazelcast/hazelcast-kubernetes/issues/141 you said that "It will work for server nodes too", this refers to 2 kubernetes clusters but can't it be done in this case somehow?

[2020-09-10 13:41] leszko commented on #252
If you use static TCP configuration, then you should use it everywhere. And add an env variable: `JAVA_OPTS="-Dhazelcast.local.publicAddress=<host_ip>:5701". Because the member needs to be aware of its public IP.

If you want to use kubernetes plugin that it may be a little tricky, because you have some members in Kubernetes, some outside. As mentioned, I've never tried such a scenario. You can pl

[2020-09-14 11:18] simbatsad commented on #252
thanks we will try it out.

[2020-09-14 11:18] #252 closed

[2020-09-15 15:28] leszko commented on #216
Closing due to inactivity

[2020-09-15 15:28] #216 closed

[2020-09-16 11:05] #198 closed

[2020-09-16 11:12] leszko commented on #165
Closing due to inactivity

[2020-09-16 11:12] #165 closed

[2020-09-17 14:06] #196 closed

[2020-10-16 07:30] leszko opened #262 "Verify CP Subsystem usage on Kubernetes"

[2020-10-24 13:29] Dineshseervi commented on #115
These two are very help full to over come any connection issue we face while clustering like HTT or not able to form cluster due to lots of pod to scan .Plz try service-name or below that will help to use Hazelcast in your application
-->
join.getKubernetesConfig().setProperty("service-label-name", "label-name-you-want-to-use-from-pod");
join.getKubernetesConfig().setProperty("service-label-value"

[2020-10-29 13:24] leszko opened #267 "Add `topology.kubernetes.io/zone`"
`failure-domain.beta.kubernetes.io/zone` is deprecated, we need to use `topology.kubernetes.io/zone` instead.

https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/

[2020-10-30 08:27] bbuyukormeci commented on #267
- label "failure-domain.beta.kubernetes.io/zone" should be maintained to grant backward compatibility with Kubernetes < 1.17 (and consequently Openshift < 4.4 )
- label "failure-domain.kubernetes.io/zone" should be replaced by the label "topology.kubernetes.io/zone" to grant compliancy with Kubernetes >= 1.17 (and consequently Openshift 4.4+)

[2020-10-30 08:41] leszko commented on #267
Yeah, I think to be backward-compatible we'll keep `failure-domain.beta.kubernetes.io/zone` (and probably also `failure-domain.kubernetes.io/zone`, because we've seen some clusters using it).

[2020-10-31 19:50] jerrinot opened #269 "Hazelcast fails to start when k8s does not have CoreDNS service enabled"
I am running Hazelcast 4.1-BETA-1 in [microk8s.io](https://microk8s.io/) cluster in a default configuration. Hazelcast correctly detects it's running in k8s, but it fails to start:
[code]

Apparently it's because [microk8s does not enable CoreDNS](https://microk8s.io/docs/addons) by default. I am not sure whether we can do anything about it.

[2020-10-31 19:52] jerrinot commented on #269
when I enable CoreDNS then Hazelcast start successfully and members form a cluster.

[2020-11-02 08:16] hasancelik commented on #269
If user does not want to install CoreDNS add-on into the cluster, user can get extract master IP via one line kubectl command and configure it as a `kubernetes-master`. Without modifying `kubernetes-master` which is `https://kubernetes.default.svc` by default, it does not seem possible. So default configuration scenario does not work as well.

[2020-11-02 08:31] #267 closed

[2020-11-02 09:27] jerrinot commented on #269
my point is that Hazelcast completely fails to start. That part seems wrong. It detects the k8s plugin as applicable when in fact it's not.

[2020-11-02 09:32] leszko commented on #269
I think it's a good point! We probably should check if `https://kubernetes.default.svc` is reachable why checking the auto-detection. Let me send a PR for that.

Btw. I'm preparing now a release of `hazelcast-kubernetes`, so this fix can go together.

[2020-11-02 13:17] #269 closed

[2020-11-04 03:24] mygitdds commented on #158
Hello, how did you solve it? I tried according to the above method, but still did not solve the same problem as you

[2020-11-05 05:24] kaojunsong opened #274 "Hazelcast killing all the pods that use Hazelcast"
Our system hazelcast embedded model, and also use hazelcast-kubernetes, and we have 25 nodes in our cluster.
Recently we found the issue that when a pod crashed, all the other pods that using hazelcast all crashed.
I have no idea how to locate this issue, can anyone have any idea?

[2020-11-05 07:49] hasancelik commented on #274
Hi @kaojunsong,

Could you share application/hazelcast logs? Also could you give more information about your setup like hazelcast config, framework(spring, quarkus etc), deployment(helm charts or handcrafted yamls)?

[2020-11-05 08:02] kaojunsong commented on #274
{"@timestamp":"2020-11-04T05:18:31.377+00:00","message":"[192.168.1.92]:5701 [girl] [3.11.5] Cannot suspect [192.168.1.88]:5701, since it's not a member.","logger_name":"c.h.internal.cluster.ClusterService","thread_name":"hz._hzInstance_1_girl.cached.thread-5","level":"DEBUG","caller_class_name":"com.hazelcast.logging.Slf4jFactory$Slf4jLogger","caller_method_name":"log","caller_file_name":"Slf4jFa

[2020-11-05 08:05] kaojunsong commented on #274
@Bean
    @ConditionalOnProperty(name = "space.cache.hazelcast.enabled")
    public Config hazelcastConfig(List<MapConfig> mapConfigSuppliers) {
	Config config = new Config();
	config.setProperty("hazelcast.logging.type", "slf4j");
	config.setGroupConfig(new GroupConfig().setName(hazelcastConfiguration.getInstanceName()));
	config.addQuorumConfig(createQuorumConfig());

	NetworkConfig networkConfi

[2020-11-05 08:06] kaojunsong commented on #274
We use Spring, and do not use helm charts
@hasancelik thank you

[2020-11-05 10:58] hasancelik commented on #274
@kaojunsong,

As far as I understand from above redacted logs, your member received the heartbeat from other members but they **can not** form the cluster, right?

What is your hazelcast-kubernetes plugin version btw? Could you also share your k8s yamls?

You are using old version of hazelcast. Do you consider to use one of newer hazelcast and kubernetes discovery plugin version? It would be great

[2020-11-12 14:04] kaojunsong commented on #274
@hasancelik Thank you very much for your reply. I think I have found the cause:  After the load of one pod get high, hazelcast becomes slow, and hazelcast is invoked in actuator, k8s liveness probe uses actuator, then causing other pod restarted by k8s.

[2020-11-13 08:49] hasancelik commented on #274
@kaojunsong glad to see the issue is resolved. Thanks for the explanation, btw 👍

[2020-11-13 08:49] #274 closed

[2020-11-22 13:41] jerrinot opened #277 "Unhelpful error when multiple pods/services found"
This is how my deployment looks like:
[code]

I have 3 pods with Hazelcast running, each pod has a load balancer assigned. However I also have an unrelated deployment with NFS PV provisioner. The cluster is running fine, but a client fails to translate discovered PODs to public addresses because of [this check](https://github.com/hazelcast/hazelcast-kubernetes/blob/9ff923e5438a847ad69ecd1870206303

[2020-11-23 06:51] hasancelik commented on #277
@jerrinot, makes sense, giving starting point to user would provide more smoother process.

[2020-11-23 08:32] leszko commented on #277
Yeah, agree. I think the behavior is correct because you have somehow misconfigured the Hazelcast cluster. But yeah, we could give some info to the user.

[2020-11-26 16:16] AayushiKhandelwal123 commented on #141
Hi @hugree  please tell whether one of the solutions mentioned by @leszko worked for you.  @leszko  please suggest something for the aks clusters in  different VPC. Thanks.

[2020-11-26 16:16] AayushiKhandelwal123 commented on #141
Hi @hugree please tell whether one of the solutions mentioned by @leszko worked for you. @leszko please suggest something for the aks clusters in different VPC. Thanks.

[2020-12-08 11:44] fr1zle opened #284 "Hazelcast Kubernetes tries to access serviceaccount-token even if DNS Lookup is chosen method"
https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/HazelcastKubernetesDiscoveryStrategy.java#L45

On this line the Kubernetes API Client is constructed, even if DNS_LOOKUP is chosen as discovery strategy.
This results in an attempt to access `/var/run/secrets/kubernetes.io/serviceaccount/token` which while fail in environments where token does not

[2020-12-08 12:14] hasancelik commented on #284
Hi @fr1zle,

Thanks for reporting. you are right, if DNS_LOOKUP is enabled, the token does not require. The plugin needs to handle edge cases like above.

Do you want to create PR for it?

[2020-12-08 12:27] fr1zle commented on #284
Sure, I can give it a try.

[2020-12-17 13:37] AayushiKhandelwal123 opened #285 "I have two Kubernetes clusters. I have created hazelcast-cluster with members A,B,C in East AKS cluster and hazelcast-cluster with members D,E,F in West AKS cluster. Now I want A,B,C to discover D,E,F. How can I do that?"
Both Kubernetes clusters are in different network. I saw this https://github.com/hazelcast/hazelcast-kubernetes/issues/141 but it has been closed. So I was looking for a solution other than using hazelcast enterprise feature or having one AKS  cluster in two regions.

[2020-12-17 20:47] leszko commented on #285
So you'd like to have one Hazelcast cluster stretched across multiple Kubernetes clusters, right?

Technically, you could do it by using host network or host port (but it's not a recommended approach). Also, if you have one Hazelcast cluster across multiple regions, the performance will be terrible, so you shouldn't do it at all.

The proper way to do it is to have 2 separate Hazelcast cluster wit

[2020-12-20 16:23] AayushiKhandelwal123 commented on #285
@leszko  I am pretty much naive with Hazelcast. Going for enterprise feature is not an option for me.
So please explain more on using host network ( I tried TCP/IP discovery strategy  but it didn't work)
Please tell does the below approach can work?
 Have two clients( one in the East Region and one in the West Region) for each Hazelcluster.
Now let's assume I have East Hazelcast cluster ( members

[2020-12-21 17:44] AayushiKhandelwal123 opened #286 "What is the difference between Native Java and REST client of hazelcast. I created a map with same name using both clients. I saved key-value pair A in the map using java client and key-value pair B using rest client. My question is if hazelcast cluster is same then why can't I get key-value pair B using java client and vice-versa."

[2020-12-22 10:14] hasancelik commented on #286
Hi @AayushiKhandelwal123,

I have made quick local test and I could not reproduce your issue with Hazelcast `4.1`. Probably you have misconfigured something, could you describe more your setup or provide reproducer. Here is the my local steps:

1. Start HZ server:
[code]
2. Put entry into map via using REST client:
[code]

3. Check map size via using Java Client:
[code]

BTW, your issue is not rel

[2020-12-22 10:14] #286 closed

[2020-12-28 15:08] hasancelik opened #288 "EndpointSlices support"
With 1.19 release, `EndpointSlices` is used by default for linux envs. Cluster's control plane mirrors `Endpoints` resources to corresponding `EndpointSlices`:
[code]
Its [API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#endpointslice-v1beta1-discovery-k8s-io)(/apis/discovery.k8s.io/v1beta1/) is beta for now, it will be graduated with 1.21 release
Check [EndpointSlices rol

[2020-12-29 10:01] leszko commented on #262
I checked and currently, Hazelcast CP Subsystem does not work correctly in Kubernetes. This is because the assumption of CP Subsystem is that the Hazelcast cluster is stable (stable IP addresses) and if any member is restarted it should be manually removed from the cluster as described in [Hazelcast Reference Manual: CP Subsystem’s Fault Tolerance Capabilities](https://docs.hazelcast.org/docs/late

[2020-12-29 10:15] sancar commented on #262
Hi Rafal, Did you enable CP Persistence as I suggested here to the user https://github.com/hazelcast/hazelcast/issues/15299#issuecomment-726591461 ?

[2020-12-29 11:47] leszko commented on #262
I tried it now, and actually, yes, it solves the issue. I updated the doc here: https://github.com/hazelcast/hazelcast-kubernetes/pull/289

Additionally, we need to support it in the Helm Chart, created an issue here: https://github.com/hazelcast/charts/issues/176

[2021-01-07 16:05] #262 closed

[2021-01-07 20:10] IrvingMg opened #291 "Issue deploying OrientDB in distributed mode on K8S"
Hello everyone,

I'm having an issue when deploying OrientDB in distributed mode. I'm using the official [OrientDB](https://hub.docker.com/_/orientdb) docker image which looks like already includes hazelcast to create an OrientDB cluster with 3 nodes.

For configuration, I'm overriding the default `hazelcast.xml` files with the following in order to use the DNS Lookup discovery mode:

[code]
and

[2021-01-07 21:03] hasancelik commented on #291
Hi @IrvingMg,

It seems your Hazelcast members starts at port `2434`:
[code]
And the kubernetes discovery plugin checks `5701` ports as a default so you need change port configuration at your xml like below to start Hazelcast members at `5701`:
[code]

[2021-01-07 21:23] IrvingMg commented on #291
Thanks for your quick reply @hasancelik! It was that, I changed the port configuration and now the OrientDB cluster was created successfully:

[code]

Thanks a lot!

[2021-01-07 21:23] #291 closed

[2021-01-18 14:11] tlynema-bravolt commented on #207
Posting in case it helps someone.
Look for the log message similar to the following:

[code]

Make sure that the service-name is not null or it will look for member among all services under the namespace.

My issue had to do with setting the property in the incorrect location.  I didn't make sure that setProperty() was after getKubernetesConfig() and was setting the property directly on the config

[2021-01-20 15:38] donatelloOo commented on #186
What is the default port used when not specifying any service ?
The documentation says:
[code]

Does it search for 5701 (hardcoded), or a port named "hazelcast" ?
Is there any configuration related to this?

[2021-01-21 10:03] leszko commented on #186
@donatelloOo  You can specify the parameter `service-port`. If not specified, the plugin will try to find the `containerPort`. If nothing found, then it defaults to `5701`. You can check the exact logic [here](https://github.com/hazelcast/hazelcast-kubernetes/blob/master/src/main/java/com/hazelcast/kubernetes/KubernetesClient.java#L182) and [here](https://github.com/hazelcast/hazelcast-kubernetes/

[2021-02-04 13:24] #284 closed

[2021-02-06 22:34] paritalagt commented on #141
I am also struggling to connect two hazelcast pod running on two different k8 cluster together so they can communicate with each other

[2021-02-06 22:36] paritalagt commented on #141
I am using hazelcast for braodcasting message but issue is i have total 4 pods running in two different cluster if one pod broadcast hazelcast messages it should broadcast to all the pods

[2021-02-06 23:14] paritalagt commented on #285
I also have the same problem please let us know the solution if its possible

[2021-02-08 17:35] paritalagt commented on #285
@AayushiKhandelwal123 , please let me know if you have any  solution .

[2021-02-08 18:03] AayushiKhandelwal123 commented on #285
Hi,

No didn't get the solution in free hazelcast version. Even hazelcast team
told me to go for enterprise hazelcast WAN feature.

On Mon, Feb 8, 2021, 11:05 PM paritalagt <notifications@github.com> wrote:

[2021-02-09 07:46] lechen26 opened #296 "Hazelcast issue after enabling istio and injected envoy"
Hi

i'm having   issue with hazelcast after enabling istio and i wonder how can i address this.

i have K8s cluster and i've recently installed istio.
when trying to add envoy to deployment with hazelcast  i have a wierd issue where i have many coinnections error  during rolling upgrade. i should mention eventually the deployment is OK but  this errors indicate something is wrong.

i've noticed th

[2021-02-09 08:25] lechen26 commented on #296
i was  able to reproduce  it again now  but it  wasnt due to internal address  it was just mismatch.
[code]

why its happening? why it chose different port for the new pod ?

[2021-02-09 12:20] hasancelik commented on #296
Hi @lechen26,

With Hazelcast `4.1` release, this kind of log noises are fixed, you do not see these logs at `4.1` and `4.1.1`. Could you try to deploy newer Hazelcast versions?

Reason of `Connection closed by the other side` logs:
- Envoy proxy needs a moment to start working and a moment to stop working. Before it starts working, every connection is dropped, that is why you see the same logs wh

[2021-02-09 12:20] arbe opened #297 "'name not found' using discovery service with kubernetes DNS"
I'm having some issues setting up autodiscovery using kubernetes DNS. My setups is with an embedded cache server, a kubernetes Deployment with just two replicas, and the pods never find each other and create a single member cluster each:

[code]
I configured a headless service as stated in the documentation, and configured hazelcast with service-dns property:

[code]

[code]

But logs are always s

[2021-02-09 13:23] lechen26 commented on #296
Hi @hasancelik
thanks for your response.

i dont feel its a noise. i fail to understand why the random port is not matched.
i've anyway tried your suggestion and used 4.1.1 and i get the exact same response.
[code]
and then million of messages:
[code]

i expect to see connection dropped, but again for the same random port and the 5701.
on deployment without envoy i see this connection reset by pee

[2021-02-09 15:37] hasancelik commented on #297
Hi @arbe,

I could create Hazelcast cluster at GKE which is based on DNS discovery with below steps:

1. Create ConfigMap via using below file, my namespace is default so if you use different namespace, do not forget to update `service-dns`:
[code]
2. Deploy cluster via using helm:
[code]

[code]
[code]

As already mentioned at https://github.com/hazelcast/hazelcast-kubernetes/issues/185, warning

[2021-02-10 09:02] arbe commented on #297
Hi @hasancelik, and thanks for getting back on this,

The setup above is quite different indeed, as you are deploying directly hazelcast in client-server topology I believe, whereas I am deploying hazelcast embedded in my springboot application.

Second difference is that I'm not using hazelcast.xml to configure these embedded hazelcast instances, but an equivalent Java-config setup.

[code]
In my

[2021-02-12 15:22] hasancelik commented on #297
@arbe,

I have tried [embedded topology with spring-boot](https://guides.hazelcast.org/kubernetes-embedded/) at GKE but I could not reproduce your issue:

[code]

[code]

I think the issue is related to your service's selector(`app: myservice`). You need to configure your app/deployment name as a selector, not your service name:
[code]

[2021-02-12 15:42] arbe commented on #297
Thanks, I'll have a look and double check the configuration on my deployment/service selector. Although, if there were some issue there, DNS wouldn't be resolved neither from the container interactive shell right? In addition, I already have a service with the very same selector for my app (for port 8080 in that case, not headless, which I use to expose my app through an Ingress).

Also, are you s

[2021-02-14 06:41] lechen26 commented on #296
anything on  this?
any help will be appriciated...

i'm just trying to understasnd if the host:port on the initialization messages should indeed be the same as i'm assuming it to be.
[code]

and how  i can understand the reason for different port.
i saw on the code its being chosen by socket.getRemoteAddress

thanks

[2021-02-15 07:31] hasancelik commented on #297
I removed `selector` from my service and try to resolve its DNS at hazelcast container, it did not work:

[code]
Then I added selector into the service, redeploy it and try again:
[code]

I have used DNS lookup based yaml file for the application not example yaml, here it is:
[code]

[2021-02-15 10:31] hasancelik commented on #296
Hi @lechen26,

Actually, the TCP connection between Hazelcast nodes uses same port. The difference that you mentioned is related implementation of TCP session itself, not Hazelcast member:

https://stackoverflow.com/questions/2997754/does-the-port-change-when-a-server-accepts-a-tcp-connection

About `Reason: Connection closed by the other side` log noise, I am trying to reproduce it. I will keep y

[2021-02-15 13:16] Anumita opened #299 "Connection Closed by the other side error when using Kubernetes API"
I'm having some issues while using kubernetes Api discovery mode. My setup is with an embedded cache server, a kubernetes Deployment with just two replicas. Error in the hazelcast sidecar: Getting INFO: [172.10.0.18]:5701 [dev] [3.12.11] Connection[id=1, /127.0.0.1:5701->/127.0.0.1:47194, qualifier=null, endpoint=null, alive=false, type=NONE] closed. Reason: Connection closed by the other side err

[2021-02-15 13:37] lechen26 commented on #296
so seems this TCP implementation is causing me issues when envoy is in the picture.
i've just enabled debug on the code for hazelcast part and i see the attempts to create the socket connection between millions ports as mentioned.

[code]

not sure if i can control it.

10x

[2021-02-15 16:19] arbe commented on #297
Hi @hasancelik, and thanks again for all the support on this!

TLDR; everything is working as expected, not sure what I had wrong exactly.

So after reviewing the configuration on my service, and seeing everything ok, I just decided to increase again the replicas to two (I had one because of this issue indeed), and then I've seen this on the already running pod:

[code]

And of course the new pod

[2021-02-16 11:54] lechen26 commented on #296
Ok, so i've diagnose this annoying issue further and compared the same deployment with or without envoy while debugging all logs.

seems like for a **Working** scenario we have the following situation:
[ Rolling upgrade for deployment with single pod.
  new_pod = 10.16.6.191
  old_pod = 10.16.35.187
]
- new Pod is starting
  `[10.16.6.191]:5701 is STARTING`

- new connection between old and new po

[2021-02-16 15:23] hasancelik commented on #296
Hi @lechen26,

I have tried to reproduce your issue at GKE via using [our istio guide](https://guides.hazelcast.org/istio/). It seems log noise issue does still exist(`Connection reset by peer` and `Reason: Connection closed by the other side`) for latest version(4.1.1) as well but my Hazelcast cluster could form successfully after rolling upgrade process. I do not know your setup details or how y

[2021-02-16 15:26] hasancelik commented on #297
@arbe Glad to hear that your issue solved mysteriously 🙂

If you encounter this issue again, feel free to re-open it 👍

[2021-02-16 15:26] #297 closed

[2021-02-16 19:30] lechen26 commented on #296
Hi @hasancelik

based  on your  log we have the exact same behavoir.
it also seen by the initialization message of `Initialized new cluster connection between /127.0.0.1:5701 and /127.0.0.1:47024`
dont you find it an issue that the 'connection' is between localhost while its 2  different pods? its the envoy ports not the  app.
this 'noise' of 1000 connections from random ports to the old pod, only

[2021-02-18 08:19] mansing2 opened #300 "Failed to deploy hazelcast cluster on K8S (Setup on google cloud vms)"
I have the K8S cluster setup on Google Cloud (not GKE) and trying to setup hazelcast cluster to test external client.

I have deployed https://github.com/hazelcast-guides/kubernetes-external-client/blob/main/rbac.yaml and https://github.com/hazelcast-guides/kubernetes-external-client/blob/main/hazelcast-cluster.yaml as per the guide https://guides.hazelcast.org/kubernetes-external-client/ but the